<div id="productBadges">
    <div class="item">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="28" viewBox="0 0 26 28" fill="none">
        <path d="M19.8835 23.9043H6.69934V26.9793H19.8835V23.9043Z" stroke="#03594D" stroke-miterlimit="10"/>
        <path d="M9.59729 23.9014V20.8291H16.9827V23.9014" stroke="#03594D" stroke-miterlimit="10"/>
        <path d="M21.8519 1.43652C22.008 22.863 4.53237 22.2266 4.73093 1.43652H21.8519Z" stroke="#03594D" stroke-miterlimit="10"/>
        <path d="M13.5468 4.82825L14.4665 6.69477C14.508 6.77883 14.5884 6.83758 14.6813 6.85114L16.7373 7.15032C16.971 7.18467 17.0649 7.4721 16.8952 7.63751L15.407 9.09005C15.3393 9.15603 15.3086 9.25003 15.3248 9.34313L15.6759 11.394C15.7156 11.6272 15.471 11.8053 15.2617 11.695L13.4223 10.727C13.3393 10.6836 13.24 10.6836 13.157 10.727L11.3176 11.695C11.1082 11.8053 10.8636 11.6272 10.9033 11.394L11.2544 9.34313C11.2707 9.25003 11.24 9.15603 11.1723 9.09005L9.68402 7.63751C9.51435 7.4721 9.60821 7.18376 9.84197 7.15032L11.8979 6.85114C11.9909 6.83758 12.0712 6.77883 12.1127 6.69477L13.0324 4.82825C13.1371 4.61584 13.4394 4.61584 13.5441 4.82825H13.5468Z" stroke="#03594D" stroke-miterlimit="10"/>
        <path d="M11.3943 20.8302V16.8975" stroke="#03594D" stroke-miterlimit="10"/>
        <path d="M15.1858 20.8301V16.9688" stroke="#03594D" stroke-miterlimit="10"/>
        <path d="M21.6904 5.07077C22.6922 4.92705 23.6696 5.17381 24.4007 5.83545C25.8555 7.15692 25.7436 9.64892 24.1543 11.4006C22.8745 12.8179 21.0225 13.3114 19.5839 12.7537" stroke="#03594D" stroke-miterlimit="10"/>
        <path d="M7.06394 12.7222C5.61719 13.3269 3.73361 12.8334 2.42945 11.4007C0.839195 9.64901 0.728184 7.15701 2.18306 5.83554C2.90599 5.1748 3.89245 4.92804 4.89336 5.07899" stroke="#03594D" stroke-miterlimit="10"/>
        </svg>
      <span>Award Winning</span>
    </div>
    <div class="item">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="30" viewBox="0 0 25 30" fill="none">
        <g clip-path="url(#clip0_478_18)">
        <path d="M12.3676 17.1722V9.99719V9.8252L10.4419 11.3552" stroke="#03594D" stroke-linejoin="round"/>
        <path d="M14.2943 17.1719H10.4419" stroke="#03594D" stroke-linejoin="round"/>
        <path d="M0.498047 3.56819V12.9204C0.498047 20.34 5.29893 26.9075 12.3695 29.1583C19.4391 26.9065 24.24 20.339 24.24 12.9204V3.56819C16.6544 0.34706 8.08461 0.34706 0.499041 3.56819H0.498047Z" stroke="#03594D" stroke-linejoin="round"/>
        <path d="M12.3685 24.7967C7.66401 22.7576 4.58704 18.1377 4.58704 12.9202V6.41832C7.10131 5.63689 9.70904 5.24121 12.3685 5.24121C15.0279 5.24121 17.6356 5.6359 20.1499 6.41732V12.9192C20.1499 18.1367 17.0729 22.7576 12.3685 24.7957V24.7967Z" stroke="#03594D" stroke-linejoin="round"/>
        </g>
        <defs>
        <clipPath id="clip0_478_18">
        <rect width="24.7351" height="29.0001" fill="white" transform="translate(0 0.655273)"/>
        </clipPath>
        </defs>
        </svg>
      <span>1 year warranty</span>
    </div>
    <div class="item">
      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
        <path d="M4.74988 10.1133H8.53906H13.2166H17.8933H21.6834" stroke="#03594D" stroke-linejoin="round"/>
        <path d="M4.7417 16.3164H8.53178H13.2166H17.9005H21.6905" stroke="#03594D" stroke-linejoin="round"/>
        <path d="M11.7269 22.1072C11.0119 21.1186 10.4286 19.7364 10.0233 18.1167C9.654 16.6514 9.4635 14.9839 9.4635 13.2215C9.4635 11.4592 9.654 9.77905 10.0233 8.31375C10.416 6.69408 11.0001 5.31184 11.7269 4.32324" stroke="#03594D" stroke-linejoin="round"/>
        <path d="M14.7053 4.32324C15.4204 5.31184 16.0036 6.69408 16.3963 8.31375C16.7656 9.77905 16.9678 11.4466 16.9678 13.2215C16.9678 14.9965 16.7656 16.6523 16.3963 18.1167C16.0036 19.7364 15.4195 21.1186 14.7053 22.1072" stroke="#03594D" stroke-linejoin="round"/>
        <path d="M22.2377 13.2163C22.2377 14.9082 21.7718 16.4872 20.9593 17.8406C19.7711 19.8331 17.8391 21.3219 15.5531 21.9313C14.8083 22.1344 14.0192 22.24 13.2148 22.24C12.4104 22.24 11.6213 22.1344 10.8765 21.9313C7.02678 20.9011 4.19189 17.3891 4.19189 13.2163C4.19189 11.5243 4.65866 9.94529 5.46218 8.59195C6.65843 6.5994 8.58326 5.11064 10.8765 4.50122C11.6213 4.29809 12.4031 4.19336 13.2148 4.19336C14.0264 4.19336 14.8092 4.29809 15.5531 4.50122C17.8391 5.11064 19.7711 6.5994 20.9593 8.59195C21.7718 9.94529 22.2377 11.5243 22.2377 13.2163Z" stroke="#03594D" stroke-linejoin="round"/>
        <path d="M25.7939 15.3859C24.7638 21.4015 19.5237 25.9798 13.2147 25.9798C6.16543 25.9798 0.451416 20.2657 0.451416 13.2164C0.451416 6.16714 6.16543 0.453125 13.2147 0.453125" stroke="#03594D" stroke-linejoin="round"/>
        <path d="M23.5981 17.3446L25.8218 15.2979L26.4827 18.2465" stroke="#03594D" stroke-miterlimit="10"/>
        <path d="M18.0999 1.42532C17.3343 1.10662 16.5362 0.86195 15.7065 0.702148" stroke="#03594D" stroke-linejoin="round"/>
        <path d="M25.003 8.33889C24.6843 7.56245 24.2907 6.81762 23.8221 6.12695" stroke="#03594D" stroke-linejoin="round"/>
        <path d="M22.2377 4.19091C21.6418 3.59505 20.9936 3.06328 20.302 2.60645" stroke="#03594D" stroke-linejoin="round"/>
        </svg>
      <span>Plants saved worldwide</span>
    </div>
</div>

<style>
  #productBadges {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;
    flex-wrap: wrap;
    gap: 1rem;
  }
  #productBadges .item {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    font-size: var(--messaging-font-size, 16px);
    line-height: 1.1;
  }
</style>