<div
  id="instructions"
  class="page-width page-width--narrow {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
>
  <div class="language-picker">
    <label for="languageSelect">Select language</label>
    <select id="languageSelect">
      <option value="danish">Danske</option>
      <option value="estonian">Eesti</option>
      <option value="english" selected>English</option>
      <option value="latvian">Latvie&scaron;u</option>
      <option value="lithuanian">Lietuviškos</option>
      <option value="norwegian">Norske</option>
      <option value="polish">Polskim</option>
      <option value="finnish">Suomea</option>
      <option value="swedish">Svenska</option>
    </select>
  </div>

  <div id="english" class="visible-language">
    <h1 class="center">English Instructions</h1>

    <h2>Willow Sensor</h2>
    <p>
      This guide provides important safety, regulatory, and warranty information that you should read before setting up
      your Willow Sensor
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/Sensor_Top.png?v=1727854369"
      width="271"
      height="155"
      style="margin-left: calc((100% - 271px)/2); margin-right: 3rem"
      class="diagram"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/Sensor_Bottom.png?v=1727854369"
      width="174"
      height="155"
      style="margin-left: calc((100% - 130px)/2)"
      class="diagram"
    >

    <h3>Let's get started</h3>
    <p>Visit our <a href="../pages/setup">Setup Guide</a></p>
    <p>Note: Android 5+ or iOS 14+ and a 2.4GHz Wi-Fi connection is required for setup</p>

    <h3>Safety warnings</h3>
    <p>The Willow Sensor contains a button cell battery. Please observe precautions:</p>
    <ul>
      <li>Keep batteries out of the reach of children. If swallowed, seek immediate medical attention.</li>
      <li>Do not heat, crush, or immerse the battery in liquids.</li>
      <li>Do not dispose with household waste. Check with your local authority for recycling advice.</li>
      <li>
        When replacing the battery, ensure that the correct specification is used (CR2477). Failure to do so may cause
        the sensor to malfunction and is not warranted. Please ensure the screw is secured back in place.
      </li>
      <li>This device is not a toy. It contains small parts that may cause a choking hazard.</li>
    </ul>

    <h3>Care and maintenance</h3>
    <p>Your Willow Sensor is designed to require minimum maintenance. Please observe the following precautions:</p>
    <ul>
      <li>
        Do not pour water directly on to the device. The sensor contains sensitive electronics that can be damaged.
      </li>
      <li>Do not drop or mishandle the sensor.</li>
      <li>
        Use a clean, soft, and damp cloth to clean the moisture probes on occasion. Do not use any chemical agents.
      </li>
    </ul>

    <h3>Warranty</h3>
    <p>
      This product is warranted against defects in materials and workmanship for a period of one (1) year from the date
      of purchase. If the product fails during this period, it will be repaired or replaced, at the option of the
      manufacturer, free of charge.
    </p>
    <p>
      This warranty does not cover damage caused by misuse, abuse, accident, or alteration. To make a warranty claim,
      please contact PW Willow Pty Ltd.
    </p>
    <p>
      In addition to the above, Australian consumers are also entitled to certain rights under the Australian Consumer
      Law (ACL). The ACL guarantees that consumers will receive products that are of acceptable quality, and free from
      major defects. If a product does not meet these requirements, consumers may been titled to are fund, repair, or
      replacement, depending on the circumstances.
    </p>

    <h3>Specifications</h3>
    <p><strong>Wireless Connectivity:</strong> BT 5.2</p>
    <p><strong>Battery:</strong> CR 2477</p>
    <p><strong>Ingress Protection:</strong> IP 54</p>
    <p>
      <strong>AU Certification:</strong> RCM Compliant<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>EU Certification:</strong> CE Compliant<br>
      <img src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127" width="42" height="30">
    </p>

    <br>

    <h2 style="margin-top: 6rem">Willow Hub</h2>
    <p>
      This guide provides important safety, regulatory, and warranty information that you should read before setting up
      your Willow Hub
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/hub-user-guide.png?v=1728287673"
      alt="Hub"
      width="203"
      height="155"
      class="diagram"
    >

    <h3>Let's get started</h3>
    <p>Visit our <a href="../pages/setup">Setup Guide</a></p>
    <p>Note: Android 5+ or iOS 14+ and a 2.4GHz Wi-Fi connection is required for setup</p>

    <h3>Safety warnings</h3>
    <p>Please observe precautions:</p>
    <ul>
      <li>
        Only use the supplied USB cable. Using an unauthorized cable can increase the risk of electrical shock, fire or
        damage to the device or persons.
      </li>
      <li>
        Do not disassemble or modify the Hub in any way. This can void the warranty and increase the risk of electrical
        shock or fire.
      </li>
      <li>Do not place the Hub in a wet or humid environment as this can increase the risk of electrical shock.</li>
    </ul>

    <h3>Care and maintenance</h3>
    <p>Your Willow Hub is designed to require minimum maintenance. Please observe the following precautions:</p>
    <ul>
      <li>Keep the device dry. The Willow Hub contains sensitive electronics that can be damaged.</li>
      <li>Do not drop or mishandle the Hub.</li>
      <li>If the outside requires cleaning, wipe only with a slightly damp cloth.</li>
    </ul>

    <h3>Warranty</h3>
    <p>
      This product is warranted against defects in materials and workmanship for a period of one (1) year from the date
      of purchase. If the product fails during this period, it will be repaired or replaced, at the option of the
      manufacturer, free of charge.
    </p>
    <p>
      This warranty does not cover damage caused by misuse, abuse, accident, or alteration. To make a warranty claim,
      please contact PW Willow Pty Ltd.
    </p>
    <p>
      In addition to the above, Australian consumers are also entitled to certain rights under the Australian Consumer
      Law (ACL). The ACL guarantees that consumers will receive products that are of acceptable quality, and free from
      major defects. If a product does not meet these requirements, consumers may been titled to are fund, repair, or
      replacement, depending on the circumstances.
    </p>

    <h3>Specifications</h3>
    <p><strong>Wireless Connectivity:</strong> BT 5.2</p>
    <p>
      <strong>AU Certification:</strong> RCM Compliant<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>EU Certification:</strong> CE Compliant<br>
      <img src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127" width="42" height="30">
    </p>
  </div>

  <div id="danish">
    <h1 class="center">Danske Instruktioner</h1>
    <h2>Willow Sensor</h2>
    <p>
      Denne vejledning indeholder vigtige sikkerheds-, lovgivnings- og garantioplysninger, som du b&oslash;r l&aelig;se,
      f&oslash;r du ops&aelig;tter din Willow Sensor
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0561/1844/4163/files/sensor_top_danish.png?v=1728024597"
      width="255"
      height="155"
      style="margin-left: calc((100% - 255px)/2); margin-right: 3rem"
      class="diagram"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0561/1844/4163/files/sensor_bottom_danish.png?v=1728024598"
      width="165"
      height="155"
      style="margin-left: calc((100% - 150px)/2)"
      class="diagram"
    >

    <h3>Lad os komme i gang</h3>
    <p>Bes&oslash;g vores <a href="../pages/setup">ops&aelig;tningsvejledning</a></p>
    <p>
      Bem&aelig;rk: Android 5+ eller iOS 14+ og en 2.4 GHz Wi-Fi-forbindelse er p&aring;kr&aelig;vet til ops&aelig;tning
    </p>
    <h3>Sikkerhedsadvarsler</h3>
    <p>Willow-sensoren indeholder et knapcellebatteri. Overhold venligst forholdsregler:</p>
    <ul>
      <li>
        Opbevar batterier utilg&aelig;ngeligt for b&oslash;rn. Ved indtagelse skal du straks s&oslash;ge
        l&aelig;gehj&aelig;lp.
      </li>
      <li>Batteriet m&aring; ikke opvarmes, knuses eller neds&aelig;nkes i v&aelig;sker.</li>
      <li>
        M&aring; ikke bortskaffes sammen med husholdningsaffaldet. Kontakt din lokale myndighed for at f&aring;
        r&aring;d om genbrug.
      </li>
      <li>
        N&aring;r du udskifter batteriet, skal du sikre dig, at den korrekte specifikation bruges (CR2477). Undladelse
        af at g&oslash;re det kan medf&oslash;re, at sensoren ikke fungerer korrekt og er ikke garanteret. S&oslash;rg
        for, at skruen er fastgjort p&aring; plads igen.
      </li>
      <li>
        Denne enhed er ikke et leget&oslash;j. Den indeholder sm&aring; dele, der kan for&aring;rsage
        kv&aelig;lningsfare.
      </li>
    </ul>
    <h3>Pleje og vedligeholdelse</h3>
    <p>
      Din pilesensor er designet til at kr&aelig;ve minimal vedligeholdelse. Overhold venligst f&oslash;lgende
      forholdsregler:
    </p>
    <ul>
      <li>
        H&aelig;ld ikke vand direkte p&aring; enheden. Sensoren indeholder f&oslash;lsom elektronik, der kan blive
        beskadiget.
      </li>
      <li>Tab eller h&aring;ndter ikke sensoren forkert.</li>
      <li>
        Brug en ren, bl&oslash;d og damp klud til at reng&oslash;re fugtsonderne lejlighedsvis. Brug ikke kemiske
        midler.
      </li>
    </ul>
    <h3>Garanti</h3>
    <p>
      Dette produkt er garanteret mod defekter i materialer og udf&oslash;relse i en periode p&aring; et (1) &aring;r
      fra k&oslash;bsdatoen. Hvis produktet svigter i denne periode, vil det blive repareret eller udskiftet efter
      producentens valg gratis.
    </p>
    <p>
      Denne garanti d&aelig;kker ikke skader for&aring;rsaget af forkert brug, misbrug, ulykke eller &aelig;ndring. For
      at frems&aelig;tte et garantikrav bedes du kontakte PW Willow Pty Ltd.
    </p>
    <p>
      Ud over ovenst&aring;ende har australske forbrugere ogs&aring; ret til visse rettigheder i henhold til den
      australske forbrugerlov (ACL). ACL garanterer, at forbrugerne vil modtage produkter, der er af acceptabel kvalitet
      og fri for st&oslash;rre defekter. Hvis et produkt ikke opfylder disse krav, kan forbrugerne v&aelig;re berettiget
      til at blive finansieret, repareret eller ombyttet, afh&aelig;ngigt af omst&aelig;ndighederne.
    </p>
    <h3>Specifikationer</h3>
    <p><strong>Tr&aring;dl&oslash;s forbindelse:</strong> BT 5.2</p>
    <p><strong>Batteri:</strong> CR 2477</p>
    <p><strong>Beskyttelse mod indtr&aelig;ngen:</strong> IP 54</p>
    <p>
      <strong>AU-certificering:</strong> RCM-kompatibel<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        alt=""
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>EU-certificering:</strong> CE-kompatibel<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127"
        alt=""
        width="42"
        height="30"
      >
    </p>
    <br>
    <h2>Willow Hub</h2>
    <p>
      Denne vejledning indeholder vigtige sikkerheds-, lovgivnings- og garantioplysninger, som du b&oslash;r l&aelig;se,
      f&oslash;r du ops&aelig;tter din Willow Hub
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/hub-user-guide.png?v=1728287673"
      alt="Hub"
      width="203"
      height="155"
      class="diagram"
    >
    <h3>Lad os komme i gang</h3>
    <p>Bes&oslash;g vores <a href="../pages/setup">ops&aelig;tningsvejledning</a></p>
    <p>
      Bem&aelig;rk: Android 5+ eller iOS 14+ og en 2.4 GHz Wi-Fi-forbindelse er p&aring;kr&aelig;vet til ops&aelig;tning
    </p>
    <h3>Sikkerhedsadvarsler</h3>
    <p>Overhold venligst forholdsregler:</p>
    <ul>
      <li>
        Brug kun det medf&oslash;lgende USB-kabel. Brug af et uautoriseret kabel kan &oslash;ge risikoen for elektrisk
        st&oslash;d, brand eller beskadigelse af enheden eller personer.
      </li>
      <li>
        Undlad at adskille eller modificere hubben p&aring; nogen m&aring;de. Dette kan ugyldigg&oslash;re garantien og
        &oslash;ge risikoen for elektrisk st&oslash;d eller brand.
      </li>
      <li>
        Anbring ikke hubben i v&aring;de eller fugtige omgivelser, da dette kan &oslash;ge risikoen for elektrisk
        st&oslash;d.
      </li>
    </ul>
    <h3>Pleje og vedligeholdelse</h3>
    <p>
      Din Willow Hub er designet til at kr&aelig;ve minimal vedligeholdelse. Overhold venligst f&oslash;lgende
      forholdsregler:
    </p>
    <ul>
      <li>Hold enheden t&oslash;r. Willow Hub indeholder f&oslash;lsom elektronik, der kan blive beskadiget.</li>
      <li>Tab eller h&aring;ndter ikke hubben forkert.</li>
      <li>Hvis ydersiden skal reng&oslash;res, skal du kun t&oslash;rre af med en let fugtig klud.</li>
    </ul>
    <h3>Garanti</h3>
    <p>
      Dette produkt er garanteret mod defekter i materialer og udf&oslash;relse i en periode p&aring; et (1) &aring;r
      fra k&oslash;bsdatoen. Hvis produktet svigter i denne periode, vil det blive repareret eller udskiftet efter
      producentens valg gratis.
    </p>
    <p>
      Denne garanti d&aelig;kker ikke skader for&aring;rsaget af forkert brug, misbrug, ulykke eller &aelig;ndring. For
      at frems&aelig;tte et garantikrav bedes du kontakte PW Willow Pty Ltd.
    </p>
    <p>
      Ud over ovenst&aring;ende har australske forbrugere ogs&aring; ret til visse rettigheder i henhold til den
      australske forbrugerlov (ACL). ACL garanterer, at forbrugerne vil modtage produkter, der er af acceptabel kvalitet
      og fri for st&oslash;rre defekter. Hvis et produkt ikke opfylder disse krav, kan forbrugerne v&aelig;re berettiget
      til at blive finansieret, repareret eller ombyttet, afh&aelig;ngigt af omst&aelig;ndighederne.
    </p>
    <h3>Specifikationer</h3>
    <p><strong>Tr&aring;dl&oslash;s forbindelse:</strong> BT 5.2</p>
    <p>
      <strong>AU-certificering:</strong> RCM-kompatibel<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        alt=""
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>EU-certificering:</strong> CE-kompatibel<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127"
        alt=""
        width="42"
        height="30"
      >
    </p>
  </div>

  <div id="estonian">
    <h1 class="center">Eesti Kasutusjuhendid</h1>
    <h2>Paju andur</h2>
    <p>
      See juhend pakub olulist ohutus-, regulatiiv- ja garantiiteavet, mida peaksite enne Willow Sensori seadistamist
      lugema
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0561/1844/4163/files/sensor_top_estonian.png"
      width="268"
      height="155"
      style="margin-left: calc((100% - 268px)/2);margin-right: 3rem"
      class="diagram"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0561/1844/4163/files/sensor_bottom_estonian.png"
      width="167"
      height="155"
      style="margin-left: calc((100% - 130px)/2)"
      class="diagram"
    >

    <h3>Alustame</h3>
    <p>K&uuml;lastage meie <a href="../pages/setup">h&auml;&auml;lestusjuhendit</a></p>
    <p>M&auml;rkus: Android 5+ v&otilde;i iOS 14+ ja seadistamiseks on vaja 2,4 GHz WiFi-&uuml;hendust</p>
    <h3>Ohutusalased hoiatused</h3>
    <p>Willow Sensor sisaldab n&ouml;&ouml;ppatareid. Palun j&auml;rgige ettevaatusabin&otilde;usid:</p>
    <ul>
      <li>
        Hoidke patareisid lastele k&auml;ttesaamatus kohas. Allaneelamisel p&ouml;&ouml;rduge viivitamatult arsti poole.
      </li>
      <li>&Auml;rge kuumutage, purustage ega kastke akut vedelikesse.</li>
      <li>
        &Auml;rge visake koos olmej&auml;&auml;tmetega &auml;ra. Ringlussev&otilde;tu kohta n&otilde;u saamiseks
        p&ouml;&ouml;rduge oma kohaliku ametiasutuse poole.
      </li>
      <li>
        Aku vahetamisel veenduge, et kasutatakse &otilde;iget spetsifikatsiooni (CR2477). Selle tegemata j&auml;tmine
        v&otilde;ib p&otilde;hjustada anduri talitlush&auml;ireid ja see ei ole &otilde;igustatud. Palun veenduge, et
        kruvi oleks oma kohale kinnitatud.
      </li>
      <li>
        See seade ei ole m&auml;nguasi. See sisaldab v&auml;ikseid osi, mis v&otilde;ivad p&otilde;hjustada
        l&auml;mbumisohtu.
      </li>
    </ul>
    <h3>Hooldus ja hooldus</h3>
    <p>
      Teie Willow Sensor on loodud nii, et see vajab minimaalset hooldust. J&auml;rgige j&auml;rgmisi
      ettevaatusabin&otilde;usid:
    </p>
    <ul>
      <li>&Auml;rge valage vett otse seadmele. Andur sisaldab tundlikku elektroonikat, mis v&otilde;ib kahjustuda.</li>
      <li>&Auml;rge laske andurit maha ega k&auml;sitsege seda valesti.</li>
      <li>
        Niiskusandurite puhastamiseks kasutage aeg-ajalt puhast, pehmet ja niisket lappi. &Auml;rge kasutage keemilisi
        aineid.
      </li>
    </ul>
    <h3>Garantii</h3>
    <p>
      See toode on garanteeritud materjali- ja tootmisdefektide eest &uuml;he (1) aasta jooksul alates
      ostukuup&auml;evast. Kui toode selle aja jooksul eba&otilde;nnestub, parandatakse v&otilde;i asendatakse see
      tootja valikul tasuta.
    </p>
    <p>
      See garantii ei h&otilde;lma kahjusid, mis on p&otilde;hjustatud v&auml;&auml;rkasutusest, kuritarvitamisest,
      &otilde;nnetusest v&otilde;i muutmisest. Garantiin&otilde;ude esitamiseks v&otilde;tke &uuml;hendust PW Willow Pty
      Ltd-ga.
    </p>
    <p>
      Lisaks &uuml;laltoodule on Austraalia tarbijatel Austraalia tarbijaseaduse (ACL) alusel &otilde;igus ka teatud
      &otilde;igustele. ACL tagab, et tarbijad saavad tooteid, mis on vastuv&otilde;etava kvaliteediga ja millel ei ole
      suuri defekte. Kui toode ei vasta nendele n&otilde;uetele, v&otilde;idakse tarbijatele s&otilde;ltuvalt
      asjaoludest &otilde;igus rahastada, parandada v&otilde;i asendada.
    </p>
    <h3>Spetsifikatsioonid</h3>
    <p><strong>Traadita &uuml;henduvus:</strong> BT 5.2</p>
    <p><strong>Patarei:</strong> &Uuml;T 2477</p>
    <p><strong>Sissetungimise kaitse:</strong> Uurimisperiood 54</p>
    <p>
      <strong>AU sertifikaat:</strong> RCM-iga &uuml;hilduv<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        alt=""
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>ELi sertifitseerimine:</strong> CE-n&otilde;uetele vastav<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127"
        alt=""
        width="42"
        height="30"
      >
    </p>
    <br>
    <h2>Paju keskus</h2>
    <p>
      See juhend pakub olulist ohutus-, regulatiiv- ja garantiiteavet, mida peaksite enne Willow Hubi seadistamist
      lugema
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/hub-user-guide.png?v=1728287673"
      alt="Hub"
      width="203"
      height="155"
      class="diagram"
    >
    <h3>Alustame</h3>
    <p>K&uuml;lastage meie <a href="../pages/setup">h&auml;&auml;lestusjuhendit</a></p>
    <p>M&auml;rkus: Android 5+ v&otilde;i iOS 14+ ja seadistamiseks on vaja 2,4 GHz WiFi-&uuml;hendust</p>
    <h3>Ohutusalased hoiatused</h3>
    <p>Palun j&auml;rgige ettevaatusabin&otilde;usid:</p>
    <ul>
      <li>
        Kasutage ainult kaasasolevat USB-kaablit. Volitamata kaabli kasutamine v&otilde;ib suurendada
        elektril&ouml;&ouml;gi, tulekahju v&otilde;i seadme v&otilde;i inimeste kahjustamise ohtu.
      </li>
      <li>
        &Auml;rge v&otilde;tke jaoturit lahti ega muutke seda mingil viisil. See v&otilde;ib t&uuml;histada garantii ja
        suurendada elektril&ouml;&ouml;gi v&otilde;i tulekahju ohtu.
      </li>
      <li>
        &Auml;rge asetage jaoturit niiskesse v&otilde;i niiskesse keskkonda, kuna see v&otilde;ib suurendada
        elektril&ouml;&ouml;gi ohtu.
      </li>
    </ul>
    <h3>Hooldus ja hooldus</h3>
    <p>
      Teie Willow Hub on loodud nii, et see vajaks minimaalset hooldust. J&auml;rgige j&auml;rgmisi
      ettevaatusabin&otilde;usid:
    </p>
    <ul>
      <li>Hoidke seadet kuivana. Willow Hub sisaldab tundlikku elektroonikat, mis v&otilde;ib kahjustuda.</li>
      <li>&Auml;rge visake Hubi maha ega k&auml;sitsege seda valesti.</li>
      <li>Kui v&auml;lisk&uuml;lg vajab puhastamist, p&uuml;hkige ainult kergelt niiske lapiga.</li>
    </ul>
    <h3>Garantii</h3>
    <p>
      See toode on garanteeritud materjali- ja tootmisdefektide eest &uuml;he (1) aasta jooksul alates
      ostukuup&auml;evast. Kui toode selle aja jooksul eba&otilde;nnestub, parandatakse v&otilde;i asendatakse see
      tootja valikul tasuta.
    </p>
    <p>
      See garantii ei h&otilde;lma kahjusid, mis on p&otilde;hjustatud v&auml;&auml;rkasutusest, kuritarvitamisest,
      &otilde;nnetusest v&otilde;i muutmisest. Garantiin&otilde;ude esitamiseks v&otilde;tke &uuml;hendust PW Willow Pty
      Ltd-ga.
    </p>
    <p>
      Lisaks &uuml;laltoodule on Austraalia tarbijatel Austraalia tarbijaseaduse (ACL) alusel &otilde;igus ka teatud
      &otilde;igustele. ACL tagab, et tarbijad saavad tooteid, mis on vastuv&otilde;etava kvaliteediga ja millel ei ole
      suuri defekte. Kui toode ei vasta nendele n&otilde;uetele, v&otilde;idakse tarbijatele s&otilde;ltuvalt
      asjaoludest &otilde;igus rahastada, parandada v&otilde;i asendada.
    </p>
    <h3>Spetsifikatsioonid</h3>
    <p><strong>Traadita &uuml;henduvus:</strong> BT 5.2</p>
    <p>
      <strong>AU sertifikaat:</strong> RCM-iga &uuml;hilduv<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        alt=""
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>ELi sertifitseerimine:</strong> CE-n&otilde;uetele vastav<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127"
        alt=""
        width="42"
        height="30"
      >
    </p>
  </div>

  <div id="latvian">
    <h1 class="center">Norādījumi latvie&scaron;u valodā</h1>
    <h2>Vītolu sensors</h2>
    <p>
      &Scaron;ajā rokasgrāmatā ir sniegta svarīga dro&scaron;ības, normatīvā un garantijas informācija, kas jums
      jāizlasa pirms Willow sensora uzstādī&scaron;anas
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0561/1844/4163/files/sensor_top_latvian.png"
      width="320"
      height="155"
      style="margin-left: calc((100% - 320px)/2);margin-right: 3rem"
      class="diagram"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0561/1844/4163/files/sensor_bottom_latvian.png"
      width="163"
      height="155"
      style="margin-left: calc((100% - 110px)/2)"
      class="diagram"
    >
    <h3>Sāksim</h3>
    <p>Apmeklējiet mūsu <a href="../pages/setup">iestatī&scaron;anas rokasgrāmatu</a></p>
    <p>Piezīme: iestatī&scaron;anai ir nepiecie&scaron;ams Android 5+ vai iOS 14+ un 2,4 GHz Wi-Fi savienojums</p>
    <h3>Dro&scaron;ības brīdinājumi</h3>
    <p>Vītolu sensors satur pogas &scaron;ūnu akumulatoru. Lūdzu, ievērojiet piesardzības pasākumus:</p>
    <ul>
      <li>Glabājiet baterijas bērniem nepieejamā vietā. Ja norīts, nekavējoties meklējiet medicīnisko palīdzību.</li>
      <li>Nesildiet, nesasmalciniet un neiegremdējiet akumulatoru &scaron;ķidrumos.</li>
      <li>
        Neizmetiet kopā ar sadzīves atkritumiem. Sazinieties ar vietējo iestādi, lai saņemtu ieteikumus par pārstrādi.
      </li>
      <li>
        Nomainot akumulatoru, pārliecinieties, vai tiek izmantota pareizā specifikācija (CR2477). Ja tas netiek darīts,
        sensors var darboties nepareizi, un tas nav pamatots. Lūdzu, pārliecinieties, ka skrūve ir nostiprināta atpakaļ
        vietā.
      </li>
      <li>&Scaron;ī ierīce nav rotaļlieta. Tas satur sīkas detaļas, kas var izraisīt nosmak&scaron;anas risku.</li>
    </ul>
    <h3>Kop&scaron;ana un apkope</h3>
    <p>
      Jūsu Willow sensors ir izstrādāts tā, lai tam būtu nepiecie&scaron;ama minimāla apkope. Lūdzu, ievērojiet
      &scaron;ādus piesardzības pasākumus:
    </p>
    <ul>
      <li>Nelejiet ūdeni tie&scaron;i uz ierīces. Sensors satur jutīgu elektroniku, kuru var sabojāt.</li>
      <li>Nenometiet un nerīkojieties nepareizi ar sensoru.</li>
      <li>Izmantojiet tīru, mīkstu un mitru drānu, lai reizēm notīrītu mitruma zondes. Nelietojiet ķīmiskas vielas.</li>
    </ul>
    <h3>Garantijas</h3>
    <p>
      &Scaron;im produktam ir garantija pret materiālu un ražo&scaron;anas defektiem uz vienu (1) gadu no iegādes
      datuma. Ja produkts &scaron;ajā laikā neizdodas, tas tiks remontēts vai nomainīts pēc ražotāja izvēles bez maksas.
    </p>
    <p>
      &Scaron;ī garantija neattiecas uz bojājumiem, kas radu&scaron;ies nepareizas lieto&scaron;anas, ļaunprātīgas
      izmanto&scaron;anas, negadījuma vai izmaiņu rezultātā. Lai iesniegtu garantijas prasību, lūdzu, sazinieties ar PW
      Willow Pty Ltd.
    </p>
    <p>
      Papildus iepriek&scaron; minētajam Austrālijas patērētājiem ir arī tiesības uz noteiktām tiesībām saskaņā ar
      Austrālijas Patērētāju likumu (ACL). ACL garantē, ka patērētāji saņems pieņemamas kvalitātes produktus bez
      būtiskiem defektiem. Ja produkts neatbilst &scaron;īm prasībām, atkarībā no apstākļiem patērētājiem var būt
      tiesības uz fondu, remontu vai nomaiņu.
    </p>
    <h3>Specifikācijas</h3>
    <p><strong>Bezvadu savienojums:</strong> BT 5,2</p>
    <p><strong>Baterija:</strong> CR 2477</p>
    <p><strong>Iekļū&scaron;anas aizsardzība:</strong> IP 54</p>
    <p>
      <strong>AU sertifikācija:</strong> Atbilst RCM prasībām<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        alt=""
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>ES sertifikācija:</strong> Atbilst CE prasībām<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127"
        alt=""
        width="42"
        height="30"
      >
    </p>
    <br>
    <h2>Vītolu rumba</h2>
    <p>
      &Scaron;ajā rokasgrāmatā ir sniegta svarīga dro&scaron;ības, normatīvā un garantijas informācija, kas jums
      jāizlasa pirms Willow Hub iestatī&scaron;anas
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/hub-user-guide.png?v=1728287673"
      alt="Hub"
      width="203"
      height="155"
      class="diagram"
    >
    <h3>Sāksim</h3>
    <p>Apmeklējiet mūsu <a href="../pages/setup">iestatī&scaron;anas rokasgrāmatu</a></p>
    <p>Piezīme: iestatī&scaron;anai ir nepiecie&scaron;ams Android 5+ vai iOS 14+ un 2,4 GHz Wi-Fi savienojums</p>
    <h3>Dro&scaron;ības brīdinājumi</h3>
    <p>Lūdzu, ievērojiet piesardzības pasākumus:</p>
    <ul>
      <li>
        Izmantojiet tikai komplektācijā iekļauto USB kabeli. Neatļauta kabeļa izmanto&scaron;ana var palielināt
        elektriskās strāvas trieciena, ugunsgrēka vai ierīces vai cilvēku bojājumu risku.
      </li>
      <li>
        Nekādā veidā neizjauciet un nemodificējiet centrmezglu. Tas var anulēt garantiju un palielināt elektriskās
        strāvas trieciena vai ugunsgrēka risku.
      </li>
      <li>Nenovietojiet rumbu mitrā vai mitrā vidē, jo tas var palielināt elektriskās strāvas trieciena risku.</li>
    </ul>
    <h3>Kop&scaron;ana un apkope</h3>
    <p>
      Jūsu Willow Hub ir izstrādāts tā, lai tam būtu nepiecie&scaron;ama minimāla apkope. Lūdzu, ievērojiet &scaron;ādus
      piesardzības pasākumus:
    </p>
    <ul>
      <li>Glabājiet ierīci sausu. Willow Hub satur jutīgu elektroniku, kuru var sabojāt.</li>
      <li>Nenometiet un nerīkojieties nepareizi ar centrmezglu.</li>
      <li>Ja ārpuse ir jātīra, noslaukiet tikai ar nedaudz mitru drānu.</li>
    </ul>
    <h3>Garantijas</h3>
    <p>
      &Scaron;im produktam ir garantija pret materiālu un ražo&scaron;anas defektiem uz vienu (1) gadu no iegādes
      datuma. Ja produkts &scaron;ajā laikā neizdodas, tas tiks remontēts vai nomainīts pēc ražotāja izvēles bez maksas.
    </p>
    <p>
      &Scaron;ī garantija neattiecas uz bojājumiem, kas radu&scaron;ies nepareizas lieto&scaron;anas, ļaunprātīgas
      izmanto&scaron;anas, negadījuma vai izmaiņu rezultātā. Lai iesniegtu garantijas prasību, lūdzu, sazinieties ar PW
      Willow Pty Ltd.
    </p>
    <p>
      Papildus iepriek&scaron; minētajam Austrālijas patērētājiem ir arī tiesības uz noteiktām tiesībām saskaņā ar
      Austrālijas Patērētāju likumu (ACL). ACL garantē, ka patērētāji saņems pieņemamas kvalitātes produktus bez
      būtiskiem defektiem. Ja produkts neatbilst &scaron;īm prasībām, atkarībā no apstākļiem patērētājiem var būt
      tiesības uz fondu, remontu vai nomaiņu.
    </p>
    <h3>Specifikācijas</h3>
    <p><strong>Bezvadu savienojums:</strong> BT 5,2</p>
    <p>
      <strong>AU sertifikācija:</strong> Atbilst RCM prasībām<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        alt=""
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>ES sertifikācija:</strong> Atbilst CE prasībām<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127"
        alt=""
        width="42"
        height="30"
      >
    </p>
  </div>

  <div id="lithuanian">
    <h1 class="center">Lietuvi&scaron;kos instrukcijos</h1>
    <h2>"Willow" jutiklis</h2>
    <p>
      &Scaron;iame vadove pateikiama svarbi saugos, reguliavimo ir garantijos informacija, kurią turėtumėte perskaityti
      prie&scaron; nustatydami "Willow" jutiklį
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/sensor_top_lithuanian.png?v=1728286472"
      alt=""
      width="335"
      height="155"
      style="margin-left: calc((100% - 335px)/2);margin-right: 3rem"
      class="diagram"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/sensor_bottom_lithuanian.png?v=1728286472"
      alt=""
      width="187"
      height="155"
      style="margin-left: calc((100% - 130px)/2)"
      class="diagram"
    >
    <h3>Pradėkime</h3>
    <p>Apsilankykite mūsų <a href="../pages/setup">sąrankos vadove</a></p>
    <p>Pastaba: sąrankai reikalingas "Android 5+" arba "iOS 14+" ir 2,4 GHz "Wi-Fi" ry&scaron;ys</p>
    <h3>Saugos įspėjimai</h3>
    <p>"Willow" jutiklyje yra sagos formos elementų baterija. Laikykitės atsargumo priemonių:</p>
    <ul>
      <li>Laikykite baterijas vaikams nepasiekiamoje vietoje. Prarijus, nedelsiant kreipkitės medicininės pagalbos.</li>
      <li>Ne&scaron;ildykite, netrai&scaron;kykite ir nemerkite akumuliatoriaus į skysčius.</li>
      <li>
        Nei&scaron;meskite su buitinėmis atliekomis. Pasitarkite su savo vietos valdžios institucija dėl perdirbimo
        patarimų.
      </li>
      <li>
        Keisdami akumuliatorių įsitikinkite, kad naudojama teisinga specifikacija (CR2477). To nepadarius, jutiklis gali
        sugesti ir nėra pateisinamas. Įsitikinkite, kad varžtas yra pritvirtintas atgal į vietą.
      </li>
      <li>&Scaron;is prietaisas nėra žaislas. Jį sudaro mažos dalys, kurios gali sukelti pavojų užspringti.</li>
    </ul>
    <h3>Priežiūra ir priežiūra</h3>
    <p>
      Jūsų "Willow" jutiklis sukurtas taip, kad reikalautų minimalios priežiūros. Laikykitės &scaron;ių atsargumo
      priemonių:
    </p>
    <ul>
      <li>Nepilkite vandens tiesiai ant prietaiso. Jutiklyje yra jautrios elektronikos, kuri gali būti pažeista.</li>
      <li>Nenumeskite ir netinkamai elkitės su jutikliu.</li>
      <li>
        Naudokite &scaron;varią, mink&scaron;tą ir drėgną &scaron;luostę, kad kartais i&scaron;valytumėte drėgmės
        zondus. Nenaudokite jokių cheminių medžiagų.
      </li>
    </ul>
    <h3>Garantija</h3>
    <p>
      &Scaron;iam gaminiui suteikiama garantija dėl medžiagų ir gamybos defektų vienerius (1) metus nuo pirkimo datos.
      Jei per &scaron;į laikotarpį gaminys sugenda, gamintojo pasirinkimu jis bus nemokamai suremontuotas arba
      pakeistas.
    </p>
    <p>
      &Scaron;i garantija netaikoma žalai, atsiradusiai dėl netinkamo naudojimo, piktnaudžiavimo, nelaimingo atsitikimo
      ar pakeitimo. Norėdami pateikti garantinę pretenziją, susisiekite su PW Willow Pty Ltd.
    </p>
    <p>
      Be to, kas i&scaron;dėstyta pirmiau, Australijos vartotojai taip pat turi teisę į tam tikras teises pagal
      Australijos vartotojų įstatymą (ACL). ACL garantuoja, kad vartotojai gaus produktus, kurie yra priimtinos kokybės
      ir be didelių defektų. Jei gaminys neatitinka &scaron;ių reikalavimų, priklausomai nuo aplinkybių, vartotojai gali
      būti pavadinti finansuoti, taisyti ar pakeisti.
    </p>
    <h3>Specifikacijos</h3>
    <p><strong>Belaidis ry&scaron;ys:</strong> BT 5,2</p>
    <p><strong>Akumuliatorius:</strong> CR 2477</p>
    <p><strong>Apsauga nuo patekimo:</strong> IP 54</p>
    <p>
      <strong>AU sertifikavimas:</strong> Atitinka RCM<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        alt=""
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>ES sertifikavimas:</strong> Atitinka CE<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127"
        alt=""
        width="42"
        height="30"
      >
    </p>
    <br>
    <h2>"Willow" centras</h2>
    <p>
      &Scaron;iame vadove pateikiama svarbi saugos, reguliavimo ir garantijos informacija, kurią turėtumėte perskaityti
      prie&scaron; nustatydami "Willow Hub"
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/hub-user-guide.png?v=1728287673"
      alt="Hub"
      width="203"
      height="155"
      class="diagram"
    >
    <h3>Pradėkime</h3>
    <p>Apsilankykite mūsų <a href="../pages/setup">sąrankos vadove</a></p>
    <p>Pastaba: sąrankai reikalingas "Android 5+" arba "iOS 14+" ir 2,4 GHz "Wi-Fi" ry&scaron;ys</p>
    <h3>Saugos įspėjimai</h3>
    <p>Laikykitės atsargumo priemonių:</p>
    <ul>
      <li>
        Naudokite tik pridedamą USB kabelį. Naudojant neleistiną kabelį gali padidėti elektros smūgio, gaisro ar
        prietaiso ar asmenų sugadinimo rizika.
      </li>
      <li>
        Jokiu būdu nei&scaron;ardykite ir nemodifikuokite koncentratoriaus. Tai gali panaikinti garantiją ir padidinti
        elektros smūgio ar gaisro riziką.
      </li>
      <li>Nestatykite stebulės drėgnoje ar drėgnoje aplinkoje, nes tai gali padidinti elektros smūgio riziką.</li>
    </ul>
    <h3>Priežiūra ir priežiūra</h3>
    <p>
      Jūsų "Willow Hub" sukurtas taip, kad reikalautų minimalios priežiūros. Laikykitės &scaron;ių atsargumo priemonių:
    </p>
    <ul>
      <li>Laikykite prietaisą sausą. "Willow Hub" yra jautri elektronika, kuri gali būti pažeista.</li>
      <li>Nei&scaron;meskite ir netinkamai elkitės su Centru.</li>
      <li>Jei i&scaron;orę reikia valyti, nuvalykite tik &scaron;iek tiek drėgnu skudurėliu.</li>
    </ul>
    <h3>Garantija</h3>
    <p>
      &Scaron;iam gaminiui suteikiama garantija dėl medžiagų ir gamybos defektų vienerius (1) metus nuo pirkimo datos.
      Jei per &scaron;į laikotarpį gaminys sugenda, gamintojo pasirinkimu jis bus nemokamai suremontuotas arba
      pakeistas.
    </p>
    <p>
      &Scaron;i garantija netaikoma žalai, atsiradusiai dėl netinkamo naudojimo, piktnaudžiavimo, nelaimingo atsitikimo
      ar pakeitimo. Norėdami pateikti garantinę pretenziją, susisiekite su PW Willow Pty Ltd.
    </p>
    <p>
      Be to, kas i&scaron;dėstyta pirmiau, Australijos vartotojai taip pat turi teisę į tam tikras teises pagal
      Australijos vartotojų įstatymą (ACL). ACL garantuoja, kad vartotojai gaus produktus, kurie yra priimtinos kokybės
      ir be didelių defektų. Jei gaminys neatitinka &scaron;ių reikalavimų, priklausomai nuo aplinkybių, vartotojai gali
      būti pavadinti finansuoti, taisyti ar pakeisti.
    </p>
    <h3>Specifikacijos</h3>
    <p><strong>Belaidis ry&scaron;ys:</strong> BT 5,2</p>
    <p>
      <strong>AU sertifikavimas:</strong> Atitinka RCM<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        alt=""
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>ES sertifikavimas:</strong> Atitinka CE<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127"
        alt=""
        width="42"
        height="30"
      >
    </p>
  </div>

  <div id="norwegian">
    <h1 class="center">Norske Instruks</h1>
    <h2>Willow Sensor</h2>
    <p>
      Denne veiledningen gir viktig informasjon om sikkerhet, forskrifter og garanti som du b&oslash;r lese f&oslash;r
      du setter opp pilesensoren
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0561/1844/4163/files/sensor_top_norwegian.png?v=1728024812"
      width="255"
      height="155"
      style="margin-left: calc((100% - 255px)/2);margin-right: 3rem"
      class="diagram"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0561/1844/4163/files/sensor_bottom_norwegian.png?v=1728024812"
      width="174"
      height="155"
      style="margin-left: calc((100% - 150px)/2)"
      class="diagram"
    >

    <h3>La oss komme i gang</h3>
    <p>G&aring; til v&aring;r <a href="../pages/setup">installasjonsveiledning</a></p>
    <p>OBS: Android 5+ eller iOS 14+ og en 2.4 GHz Wi-Fi-tilkobling kreves for oppsett</p>
    <h3>Sikkerhetsadvarsler</h3>
    <p>Willow-sensoren inneholder et knappcellebatteri. V&aelig;r oppmerksom p&aring; forholdsregler:</p>
    <ul>
      <li>Oppbevar batterier utilgjengelig for barn. Ved svelging, s&oslash;k &oslash;yeblikkelig legehjelp.</li>
      <li>Ikke varm opp, knus eller senk batteriet i v&aelig;sker.</li>
      <li>
        Ikke kast sammen med husholdningsavfallet. Ta kontakt med lokale myndigheter for r&aring;d om resirkulering.
      </li>
      <li>
        N&aring;r du bytter batteri, s&oslash;rg for at riktig spesifikasjon brukes (CR2477). Unnlatelse av &aring;
        gj&oslash;re dette kan f&oslash;re til at sensoren ikke fungerer og er ikke berettiget. S&oslash;rg for at
        skruen er festet p&aring; plass igjen.
      </li>
      <li>
        Denne enheten er ikke et leket&oslash;y. Den inneholder sm&aring; deler som kan for&aring;rsake kvelningsfare.
      </li>
    </ul>
    <h3>Stell og vedlikehold</h3>
    <p>
      Pilesensoren din er designet for &aring; kreve minimalt med vedlikehold. V&aelig;r oppmerksom p&aring;
      f&oslash;lgende forholdsregler:
    </p>
    <ul>
      <li>Ikke hell vann direkte p&aring; enheten. Sensoren inneholder sensitiv elektronikk som kan bli skadet.</li>
      <li>Ikke slipp eller h&aring;ndter sensoren feil.</li>
      <li>
        Bruk en ren, myk og damp klut for &aring; rengj&oslash;re fuktighetssondene av og til. Ikke bruk kjemiske
        midler.
      </li>
    </ul>
    <h3>Garanti</h3>
    <p>
      Dette produktet er garantert mot defekter i materialer og utf&oslash;relse i en periode p&aring; ett (1) &aring;r
      fra kj&oslash;psdatoen. Hvis produktet svikter i l&oslash;pet av denne perioden, vil det bli reparert eller
      erstattet, etter produsentens valg, gratis.
    </p>
    <p>
      Denne garantien dekker ikke skader for&aring;rsaket av misbruk, misbruk, ulykke eller endring. For &aring;
      fremsette et garantikrav, vennligst kontakt PW Willow Pty Ltd.
    </p>
    <p>
      I tillegg til det ovennevnte, har australske forbrukere ogs&aring; rett til visse rettigheter i henhold til den
      australske forbrukerloven (ACL). ACL garanterer at forbrukerne vil motta produkter som er av akseptabel kvalitet,
      og fri for store defekter. Hvis et produkt ikke oppfyller disse kravene, kan forbrukere ha rett til &aring;
      finansiere, reparere eller erstatte, avhengig av omstendighetene.
    </p>
    <h3>Spesifikasjoner</h3>
    <p><strong>Tr&aring;dl&oslash;s tilkobling:</strong> BT 5.2</p>
    <p><strong>Batteri:</strong> CR 2477</p>
    <p><strong>Inntrengningsbeskyttelse:</strong> IP 54</p>
    <p>
      <strong>AU-sertifisering:</strong> RCM-kompatibel<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        alt=""
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>EU-sertifisering:</strong> CE-kompatibel<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127"
        alt=""
        width="42"
        height="30"
      >
    </p>
    <br>
    <h2>Willow Hub</h2>
    <p>
      Denne veiledningen gir viktig informasjon om sikkerhet, forskrifter og garanti som du b&oslash;r lese f&oslash;r
      du setter opp Willow Hub
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/hub-user-guide.png?v=1728287673"
      alt="Hub"
      width="203"
      height="155"
      class="diagram"
    >
    <h3>La oss komme i gang</h3>
    <p>G&aring; til v&aring;r <a href="../pages/setup">installasjonsveiledning</a></p>
    <p>OBS: Android 5+ eller iOS 14+ og en 2.4 GHz Wi-Fi-tilkobling kreves for oppsett</p>
    <h3>Sikkerhetsadvarsler</h3>
    <p>V&aelig;r oppmerksom p&aring; forholdsregler:</p>
    <ul>
      <li>
        Bruk kun den medf&oslash;lgende USB-kabelen. Bruk av en uautorisert kabel kan &oslash;ke risikoen for elektrisk
        st&oslash;t, brann eller skade p&aring; enheten eller personer.
      </li>
      <li>
        Ikke demonter eller modifiser huben p&aring; noen m&aring;te. Dette kan ugyldiggj&oslash;re garantien og
        &oslash;ke risikoen for elektrisk st&oslash;t eller brann.
      </li>
      <li>
        Ikke plasser huben i v&aring;te eller fuktige omgivelser, da dette kan &oslash;ke risikoen for elektrisk
        st&oslash;t.
      </li>
    </ul>
    <h3>Stell og vedlikehold</h3>
    <p>
      Willow Hub er designet for &aring; kreve minimalt med vedlikehold. V&aelig;r oppmerksom p&aring; f&oslash;lgende
      forholdsregler:
    </p>
    <ul>
      <li>Hold enheten t&oslash;rr. Willow Hub inneholder sensitiv elektronikk som kan bli skadet.</li>
      <li>Ikke slipp eller h&aring;ndter huben feil.</li>
      <li>Hvis utsiden krever rengj&oslash;ring, t&oslash;rk bare av med en lett fuktig klut.</li>
    </ul>
    <h3>Garanti</h3>
    <p>
      Dette produktet er garantert mot defekter i materialer og utf&oslash;relse i en periode p&aring; ett (1) &aring;r
      fra kj&oslash;psdatoen. Hvis produktet svikter i l&oslash;pet av denne perioden, vil det bli reparert eller
      erstattet, etter produsentens valg, gratis.
    </p>
    <p>
      Denne garantien dekker ikke skader for&aring;rsaket av misbruk, misbruk, ulykke eller endring. For &aring;
      fremsette et garantikrav, vennligst kontakt PW Willow Pty Ltd.
    </p>
    <p>
      I tillegg til det ovennevnte, har australske forbrukere ogs&aring; rett til visse rettigheter i henhold til den
      australske forbrukerloven (ACL). ACL garanterer at forbrukerne vil motta produkter som er av akseptabel kvalitet,
      og fri for store defekter. Hvis et produkt ikke oppfyller disse kravene, kan forbrukere ha rett til &aring;
      finansiere, reparere eller erstatte, avhengig av omstendighetene.
    </p>
    <h3>Spesifikasjoner</h3>
    <p><strong>Tr&aring;dl&oslash;s tilkobling:</strong> BT 5.2</p>
    <p>
      <strong>AU-sertifisering:</strong> RCM-kompatibel<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        alt=""
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>EU Certification:</strong> CE Compliant<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127"
        alt=""
        width="42"
        height="30"
      >
    </p>
  </div>

  <div id="polish">
    <h1 class="center">Instrukcje w języku polskim</h1>
    <h2>Czujnik Willow</h2>
    <p>
      Ten przewodnik zawiera ważne informacje dotyczące bezpieczeństwa, przepis&oacute;w i gwarancji, kt&oacute;re
      należy przeczytać przed skonfigurowaniem czujnika Willow
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0561/1844/4163/files/sensor_top_polish.png"
      width="284"
      height="155"
      style="margin-left: calc((100% - 284px)/2); margin-right: 3rem"
      class="diagram"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0561/1844/4163/files/sensor_bottom_polish.png"
      width="174"
      height="155"
      style="margin-left: calc((100% - 120px)/2)"
      class="diagram"
    >
    <h3>Zacznijmy</h3>
    <p>Zapoznaj się z naszym <a href="../pages/setup">przewodnikiem konfiguracji</a></p>
    <p>Uwaga: Do konfiguracji wymagany jest system Android 5+ lub iOS 14+ i połączenie Wi-Fi 2,4 GHz</p>
    <h3>Ostrzeżenia dotyczące bezpieczeństwa</h3>
    <p>Czujnik Willow zawiera baterię guzikową. Proszę przestrzegać środk&oacute;w ostrożności:</p>
    <ul>
      <li>
        Baterie należy przechowywać w miejscu niedostępnym dla dzieci. W przypadku połknięcia należy natychmiast
        zwr&oacute;cić się o pomoc lekarską.
      </li>
      <li>Nie podgrzewaj, nie zgniataj ani nie zanurzaj baterii w płynach.</li>
      <li>
        Nie wyrzucać razem z odpadami domowymi. Skontaktuj się z lokalnymi władzami, aby uzyskać porady dotyczące
        recyklingu.
      </li>
      <li>
        Podczas wymiany baterii upewnij się, że używana jest prawidłowa specyfikacja (CR2477). Niezastosowanie się do
        tego może spowodować nieprawidłowe działanie czujnika i nie jest objęte gwarancją. Upewnij się, że śruba jest z
        powrotem dokręcona na swoim miejscu.
      </li>
      <li>To urządzenie nie jest zabawką. Zawiera małe części, kt&oacute;re mogą powodować ryzyko zadławienia.</li>
    </ul>
    <h3>Opieka i utrzymanie</h3>
    <p>
      Tw&oacute;j czujnik Willow został zaprojektowany tak, aby wymagał minimalnej konserwacji. Należy przestrzegać
      następujących środk&oacute;w ostrożności:
    </p>
    <ul>
      <li>
        Nie nalewaj wody bezpośrednio na urządzenie. Czujnik zawiera wrażliwe elementy elektroniczne, kt&oacute;re mogą
        zostać uszkodzone.
      </li>
      <li>Nie upuszczaj ani nie obchodź się z czujnikiem w niewłaściwy spos&oacute;b.</li>
      <li>
        Od czasu do czasu używaj czystej, miękkiej i damp szmatką do czyszczenia sond wilgotności. Nie używaj żadnych
        środk&oacute;w chemicznych.
      </li>
    </ul>
    <h3>Gwarancja</h3>
    <p>
      Ten produkt jest objęty gwarancją na wady materiałowe i wykonawcze przez okres jednego (1) roku od daty zakupu.
      Jeśli w tym okresie produkt ulegnie awarii, zostanie on bezpłatnie naprawiony lub wymieniony, według uznania
      producenta.
    </p>
    <p>
      Niniejsza gwarancja nie obejmuje uszkodzeń spowodowanych niewłaściwym użytkowaniem, nadużyciem, wypadkiem lub
      zmianą. W celu zgłoszenia roszczenia gwarancyjnego prosimy o kontakt z PW Willow Pty Ltd.
    </p>
    <p>
      Opr&oacute;cz powyższego, australijscy konsumenci są r&oacute;wnież uprawnieni do pewnych praw wynikających z
      australijskiego prawa konsumenckiego (ACL). ACL gwarantuje, że konsumenci otrzymają produkty o akceptowalnej
      jakości i wolne od poważnych wad. Jeśli produkt nie spełnia tych wymagań, konsumenci mogą mieć prawo do
      sfinansowania, naprawy lub wymiany, w zależności od okoliczności.
    </p>
    <h3>Specyfikacje</h3>
    <p><strong>Łączność bezprzewodowa:</strong> BT 5.2</p>
    <p><strong>Bateria:</strong> CR 2477</p>
    <p><strong>Ochrona przed wnikaniem:</strong> Stopień ochrony IP 54</p>
    <p>
      <strong>Certyfikacja AU:</strong> Zgodność z RCM<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        alt=""
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>Certyfikacja UE:</strong> Zgodność z CE<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127"
        alt=""
        width="42"
        height="30"
      >
    </p>
    <br>
    <h2>Willow Hub</h2>
    <p>
      Ten przewodnik zawiera ważne informacje dotyczące bezpieczeństwa, przepis&oacute;w i gwarancji, kt&oacute;re
      należy przeczytać przed skonfigurowaniem Willow Hub
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/hub-user-guide.png?v=1728287673"
      alt="Hub"
      width="203"
      height="155"
      class="diagram"
    >
    <h3>Zacznijmy</h3>
    <p>Zapoznaj się z naszym <a href="../pages/setup">przewodnikiem konfiguracji</a></p>
    <p>Uwaga: Do konfiguracji wymagany jest system Android 5+ lub iOS 14+ i połączenie Wi-Fi 2,4 GHz</p>
    <h3>Ostrzeżenia dotyczące bezpieczeństwa</h3>
    <p>Proszę przestrzegać środk&oacute;w ostrożności:</p>
    <ul>
      <li>
        Używaj wyłącznie dostarczonego USB. Używanie nieautoryzowanego może zwiększyć ryzyko porażenia prądem, pożaru
        lub uszkodzenia urządzenia lub os&oacute;b.
      </li>
      <li>
        Nie demontuj ani nie modyfikuj Huba w żaden spos&oacute;b. Może to spowodować unieważnienie gwarancji i
        zwiększyć ryzyko porażenia prądem lub pożaru.
      </li>
      <li>
        Nie umieszczaj Huba w mokrym lub wilgotnym środowisku, ponieważ może to zwiększyć ryzyko porażenia prądem.
      </li>
    </ul>
    <h3>Opieka i utrzymanie</h3>
    <p>
      Tw&oacute;j Willow Hub został zaprojektowany tak, aby wymagał minimalnej konserwacji. Należy przestrzegać
      następujących środk&oacute;w ostrożności:
    </p>
    <ul>
      <li>
        Utrzymuj urządzenie w suchym miejscu. Willow Hub zawiera wrażliwą elektronikę, kt&oacute;ra może zostać
        uszkodzona.
      </li>
      <li>Nie upuszczaj ani nie obchodź się z Hubem w niewłaściwy spos&oacute;b.</li>
      <li>Jeśli zewnętrzna strona wymaga czyszczenia, przetrzyj tylko lekko damp pł&oacute;tno.</li>
    </ul>
    <h3>Gwarancja</h3>
    <p>
      Ten produkt jest objęty gwarancją na wady materiałowe i wykonawcze przez okres jednego (1) roku od daty zakupu.
      Jeśli w tym okresie produkt ulegnie awarii, zostanie on bezpłatnie naprawiony lub wymieniony, według uznania
      producenta.
    </p>
    <p>
      Niniejsza gwarancja nie obejmuje uszkodzeń spowodowanych niewłaściwym użytkowaniem, nadużyciem, wypadkiem lub
      zmianą. W celu zgłoszenia roszczenia gwarancyjnego prosimy o kontakt z PW Willow Pty Ltd.
    </p>
    <p>
      Opr&oacute;cz powyższego, australijscy konsumenci są r&oacute;wnież uprawnieni do pewnych praw wynikających z
      australijskiego prawa konsumenckiego (ACL). ACL gwarantuje, że konsumenci otrzymają produkty o akceptowalnej
      jakości i wolne od poważnych wad. Jeśli produkt nie spełnia tych wymagań, konsumenci mogą mieć prawo do
      sfinansowania, naprawy lub wymiany, w zależności od okoliczności.
    </p>
    <h3>Specyfikacje</h3>
    <p><strong>Łączność bezprzewodowa:</strong> BT 5.2</p>
    <p>
      <strong>Certyfikacja AU:</strong> Zgodność z RCM<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        alt=""
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>Certyfikacja UE:</strong> Zgodność z CE<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127"
        alt=""
        width="42"
        height="30"
      >
    </p>
  </div>

  <div id="finnish">
    <h1 class="center">Suomen Instrukcje</h1>
    <h2>Willow Sensor</h2>
    <p>
      T&auml;m&auml; opas sis&auml;lt&auml;&auml; t&auml;rkeit&auml; turvallisuus-, s&auml;&auml;d&ouml;stenmukaisuus-
      ja takuutietoja, jotka sinun tulee lukea ennen pajuanturin asentamista
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/sensor_top_finnish.png?v=1728286857"
      alt=""
      width="305"
      height="155"
      style="margin-left: calc((100% - 305px)/2);margin-right: 3rem"
      class="diagram"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/sensor_bottom_finnish.png?v=1728286857"
      alt=""
      width="176"
      height="155"
      style="margin-left: calc((100% - 150px)/2)"
      class="diagram"
    >
    <h3>Aloitetaan</h3>
    <p>Tutustu <a href="../pages/setup">asennusoppaaseemme</a></p>
    <p>Huomautus: Asennukseen tarvitaan Android 5+ tai iOS 14+ ja 2,4 GHz:n Wi-Fi-yhteys</p>
    <h3>Turvallisuusvaroitukset</h3>
    <p>Pajuanturi sis&auml;lt&auml;&auml; nappipariston. Noudata varotoimia:</p>
    <ul>
      <li>
        Pid&auml; paristot poissa lasten ulottuvilta. Jos ainetta on nielty, hakeudu v&auml;litt&ouml;m&auml;sti
        l&auml;&auml;k&auml;rin hoitoon.
      </li>
      <li>&Auml;l&auml; l&auml;mmit&auml;, murskaa tai upota akkua nesteisiin.</li>
      <li>
        &Auml;l&auml; h&auml;vit&auml; talousj&auml;tteen mukana. Pyyd&auml; kierr&auml;tysneuvoja paikalliselta
        viranomaiselta.
      </li>
      <li>
        Kun vaihdat pariston, varmista, ett&auml; k&auml;yt&auml;t oikeita m&auml;&auml;rityksi&auml; (CR2477). Jos
        n&auml;in ei tehd&auml;, anturi voi toimia virheellisesti, eik&auml; sille ole takuuta. Varmista, ett&auml;
        ruuvi on kiinnitetty takaisin paikalleen.
      </li>
      <li>
        T&auml;m&auml; laite ei ole lelu. Se sis&auml;lt&auml;&auml; pieni&auml; osia, jotka voivat aiheuttaa
        tukehtumisvaaran.
      </li>
    </ul>
    <h3>Hoito ja huolto</h3>
    <p>Pajuanturi on suunniteltu vaatimaan vain v&auml;h&auml;n huoltoa. Noudata seuraavia varotoimia:</p>
    <ul>
      <li>
        &Auml;l&auml; kaada vett&auml; suoraan laitteeseen. Anturi sis&auml;lt&auml;&auml; herkk&auml;&auml;
        elektroniikkaa, joka voi vaurioitua.
      </li>
      <li>&Auml;l&auml; pudota tai k&auml;sittele anturia v&auml;&auml;rin.</li>
      <li>
        K&auml;yt&auml; puhdasta, pehme&auml;&auml; ja kosteaa liinaa kosteusanturien puhdistamiseen toisinaan.
        &Auml;l&auml; k&auml;yt&auml; kemiallisia aineita.
      </li>
    </ul>
    <h3>Takuu</h3>
    <p>
      T&auml;ll&auml; tuotteella on materiaali- ja valmistusvikojen takuu yhden (1) vuoden ajan
      ostop&auml;iv&auml;st&auml;. Jos tuote ep&auml;onnistuu t&auml;n&auml; aikana, se korjataan tai vaihdetaan
      valmistajan valinnan mukaan maksutta.
    </p>
    <p>
      T&auml;m&auml; takuu ei kata vahinkoja, jotka aiheutuvat v&auml;&auml;rink&auml;yt&ouml;st&auml;, onnettomuudesta
      tai muutoksesta. Jos haluat tehd&auml; takuuvaatimuksen, ota yhteytt&auml; PW Willow Pty Ltd:hen.
    </p>
    <p>
      Edell&auml; mainitun lis&auml;ksi australialaisilla kuluttajilla on my&ouml;s tiettyj&auml; oikeuksia Australian
      kuluttajalain (ACL) nojalla. ACL takaa, ett&auml; kuluttajat saavat tuotteita, jotka ovat
      hyv&auml;ksytt&auml;v&auml;&auml; laatua ja joissa ei ole suuria vikoja. Jos tuote ei t&auml;yt&auml;
      n&auml;it&auml; vaatimuksia, kuluttajilla voi olla oikeus korvaukseen, korjaukseen tai vaihtoon olosuhteista
      riippuen.
    </p>
    <h3>Eritelm&auml;t</h3>
    <p><strong>Langattomat yhteydet:</strong> BT 5.2</p>
    <p><strong>Akku:</strong> CR 2477</p>
    <p><strong>Tunkeutumisen suojaus:</strong> IP 54</p>
    <p>
      <strong>AU-sertifiointi:</strong> RCM-yhteensopiva<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        alt=""
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>EU-sertifiointi:</strong> CE-yhteensopiva<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127"
        alt=""
        width="42"
        height="30"
      >
    </p>
    <br>
    <h2>Willow Hub</h2>
    <p>
      T&auml;m&auml; opas sis&auml;lt&auml;&auml; t&auml;rkeit&auml; turvallisuus-, s&auml;&auml;d&ouml;stenmukaisuus-
      ja takuutietoja, jotka sinun tulee lukea ennen Willow Hubin k&auml;ytt&ouml;&ouml;nottoa
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/hub-user-guide.png?v=1728287673"
      alt="Hub"
      width="203"
      height="155"
      class="diagram"
    >
    <h3>Aloitetaan</h3>
    <p>Tutustu <a href="../pages/setup">asennusoppaaseemme</a></p>
    <p>Huomautus: Asennukseen tarvitaan Android 5+ tai iOS 14+ ja 2,4 GHz:n Wi-Fi-yhteys</p>
    <h3>Turvallisuusvaroitukset</h3>
    <p>Noudata varotoimia:</p>
    <ul>
      <li>
        K&auml;yt&auml; vain mukana toimitettua USB-kaapelia. Luvattoman kaapelin k&auml;ytt&ouml; voi lis&auml;t&auml;
        s&auml;hk&ouml;iskun, tulipalon tai laitteen tai henkil&ouml;iden vaurioitumisen riski&auml;.
      </li>
      <li>
        &Auml;l&auml; pura tai muokkaa keskitint&auml; mill&auml;&auml;n tavalla. T&auml;m&auml; voi
        mit&auml;t&ouml;id&auml; takuun ja lis&auml;t&auml; s&auml;hk&ouml;iskun tai tulipalon vaaraa.
      </li>
      <li>
        &Auml;l&auml; aseta napaa m&auml;rk&auml;&auml;n tai kosteaan ymp&auml;rist&ouml;&ouml;n, koska se voi
        lis&auml;t&auml; s&auml;hk&ouml;iskun vaaraa.
      </li>
    </ul>
    <h3>Hoito ja huolto</h3>
    <p>Willow Hubisi on suunniteltu vaatimaan vain v&auml;h&auml;n huoltoa. Noudata seuraavia varotoimia:</p>
    <ul>
      <li>
        Pid&auml; laite kuivana. Willow Hub sis&auml;lt&auml;&auml; herkk&auml;&auml; elektroniikkaa, joka voi
        vaurioitua.
      </li>
      <li>&Auml;l&auml; pudota tai k&auml;sittele keskitint&auml; v&auml;&auml;rin.</li>
      <li>Jos ulkopinta vaatii puhdistusta, pyyhi vain hieman kostealla liinalla.</li>
    </ul>
    <h3>Takuu</h3>
    <p>
      T&auml;ll&auml; tuotteella on materiaali- ja valmistusvikojen takuu yhden (1) vuoden ajan
      ostop&auml;iv&auml;st&auml;. Jos tuote ep&auml;onnistuu t&auml;n&auml; aikana, se korjataan tai vaihdetaan
      valmistajan valinnan mukaan maksutta.
    </p>
    <p>
      T&auml;m&auml; takuu ei kata vahinkoja, jotka aiheutuvat v&auml;&auml;rink&auml;yt&ouml;st&auml;, onnettomuudesta
      tai muutoksesta. Jos haluat tehd&auml; takuuvaatimuksen, ota yhteytt&auml; PW Willow Pty Ltd:hen.
    </p>
    <p>
      Edell&auml; mainitun lis&auml;ksi australialaisilla kuluttajilla on my&ouml;s tiettyj&auml; oikeuksia Australian
      kuluttajalain (ACL) nojalla. ACL takaa, ett&auml; kuluttajat saavat tuotteita, jotka ovat
      hyv&auml;ksytt&auml;v&auml;&auml; laatua ja joissa ei ole suuria vikoja. Jos tuote ei t&auml;yt&auml;
      n&auml;it&auml; vaatimuksia, kuluttajilla voi olla oikeus korvaukseen, korjaukseen tai vaihtoon olosuhteista
      riippuen.
    </p>
    <h3>Eritelm&auml;t</h3>
    <p><strong>Langattomat yhteydet:</strong> BT 5.2</p>
    <p>
      <strong>AU-sertifiointi:</strong> RCM-yhteensopiva<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        alt=""
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>EU-sertifiointi:</strong> CE-yhteensopiva<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127"
        alt=""
        width="42"
        height="30"
      >
    </p>
  </div>

  <div id="swedish">
    <h1 class="center">Svenska Instruktioner</h1>

    <h2>Willow Sensorn</h2>
    <p>
      Denna guide innehåller viktig information om säkerhet, föreskrifter och garanti som du bör läsa innan du
      installerar din Willow Sensor.
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0561/1844/4163/files/sensor_top_swedish.png?v=1728024598"
      width="255"
      height="155"
      style="margin-left: calc((100% - 255px)/2);margin-right: 3rem"
      class="diagram"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0561/1844/4163/files/sensor_bottom_swedish.png?v=1728024598"
      width="174"
      height="155"
      style="margin-left: calc((100% - 150px)/2)"
      class="diagram"
    >

    <h3>Kom igång</h3>
    <p>Besök vår <a href="../pages/setup">installationsguide</a></p>
    <p>Observera: Android 5+ eller iOS 14+ samt en 2.4 GHz Wi-Fi anslutning krävs för installation</p>

    <h3>Säkerhetsvarningar</h3>
    <p>Willow Sensorn innehåller ett knappcellsbatteri. Vänligen observera följande säkerhetsåtgärder:</p>
    <ul>
      <li>Håll batteri utom räckhåll för barn. Om de sväljs, kontakta sjukvården omedelbart.</li>
      <li>Värm inte upp, krossa eller blötlägg batteriet i vätskor.</li>
      <li>Släng inte batteriet med hushållsavfall. Kontakta din lokala myndighet för råd om återvinning.</li>
      <li>
        När du byter batteriet, se till att den rätta specifikationen används (CR2477). Om detta inte följs kan Sensorn
        gå sönder och garantin slutar gälla. Se till att skruven är ordentligt åtdragen igen.
      </li>
      <li>Den här enheten är inte en leksak. Den innehåller små delar som kan orsaka kvävningsrisk.</li>
    </ul>

    <h3>Skötsel och underhåll</h3>
    <p>
      Din Willow Sensorn är designad för att kräva minimalt underhåll. Vänligen observera följande säkerhetsåtgärder:
    </p>
    <ul>
      <li>Häll inte vatten direkt på enheten. Sensorn innehåller känslig elektronik som kan skadas.</li>
      <li>Hantera Sensorn med försiktighet.</li>
      <li>Använd en ren, mjuk och fuktig trasa för att rengöra fuktsensorerna vid behov. Använd inga kemiska medel.</li>
    </ul>

    <h3>Garanti</h3>
    <p>
      Denna produkt är garanterad mot defekter i material och tillverkningsfel i ett (1) år från och med inköpsdatumet.
      Om produkten visar sig vara defekt inom garantiperioden kommer den att repareras eller ersättas utan kostnad.
    </p>
    <p>
      Garantin täcker inte skador orsakade av felaktig användning, oaktsamhet, olycka eller modifieringar. För att göra
      en garantianmälan, vänligen kontakta PW Willow Pty Ltd.
    </p>
    <p>
      Observera att australienska konsumenter även har rättigheter enligt den australiska konsumentlagen (ACL). ACL
      säkerställer att produkter lever upp till acceptabel kvalitet och är fria från större defekter. Om produkten inte
      uppfyller dessa krav kan du ha rätt till återbetalning, reparation eller ersättning, beroende på omständigheterna.
    </p>

    <h3>Tekniska Specifikationer</h3>
    <p><strong>Trådlös anslutning:</strong> BT 5.2</p>
    <p><strong>Batteri:</strong> CR 2477</p>
    <p><strong>Skyddsklass:</strong> IP 54</p>
    <p>
      <strong>AU-certifiering:</strong> RCM-kompatibel<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>EU-certifiering:</strong> CE-kompatibel<br>
      <img src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127" width="42" height="30">
    </p>

    <br>

    <h2 style="margin-top: 6rem">Willow Hub</h2>
    <p>
      Denna guide innehåller viktig information om säkerhet, föreskrifter och garanti som du bör läsa innan du
      installerar din Willow Hub.
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/hub-user-guide.png?v=1728287673"
      alt="Hub"
      width="203"
      height="155"
      class="diagram"
    >

    <h3>Kom igång</h3>
    <p>Besök vår <a href="../pages/setup">installationsguide</a></p>
    <p>Observera: Android 5+ eller iOS 14+ samt en 2.4 GHz Wi-Fi anslutning krävs för installation.</p>

    <h3>Säkerhetsvarningar</h3>
    <p>Vänligen observera följande säkerhetsåtgärder:</p>
    <ul>
      <li>
        Använd endast den medföljande USB-kabeln. Användning av en obehörig kabel kan öka risken för elektriska stötar,
        brand eller skador på enheten eller personer.
      </li>
      <li>
        Modifiera inte eller plocka isär Hubben på något sätt. Detta kan ogiltigförklara garantin och öka risken för
        elektriska stötar eller brand.
      </li>
      <li>Placera inte Hubben i en våt eller fuktig miljö, eftersom detta kan öka risken för elektriska stötar.</li>
    </ul>

    <h3>Skötsel och underhåll</h3>
    <p>Din Willow Hub är designad för att kräva minimalt underhåll. Vänligen observera följande säkerhetsåtgärder:</p>
    <ul>
      <li>Håll enheten torr. Din Willow Hub innehåller elektronik som kan skadas.</li>
      <li>Hantera Hubben med försiktighet.</li>
      <li>Om utsidan behöver rengöras, torka endast av med en lätt fuktad trasa.</li>
    </ul>

    <h3>Garanti</h3>
    <p>
      Denna produkt är garanterad mot defekter i material och tillverkningsfel i ett (1) år från och med inköpsdatumet.
      Om produkten visar sig vara defekt inom garantiperioden kommer den att repareras eller ersättas utan kostnad.
    </p>
    <p>
      Garantin täcker inte skador orsakade av felaktig användning, oaktsamhet, olycka eller modifieringar. För att göra
      en garantianmälan, vänligen kontakta PW Willow Pty Ltd.
    </p>
    <p>
      Observera att australienska konsumenter även har rättigheter enligt den australiska konsumentlagen (ACL). ACL
      säkerställer att produkter lever upp till acceptabel kvalitet och är fria från större defekter. Om produkten inte
      uppfyller dessa krav kan du ha rätt till återbetalning, reparation eller ersättning, beroende på omständigheterna.
    </p>

    <h3>Tekniska Specifikationer</h3>
    <p><strong>Trådlös anslutning:</strong> BT 5.2</p>
    <p>
      <strong>AU-certifiering:</strong> RCM-kompatibel<br>
      <img
        src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/RCM_mark.png?v=1727854126"
        width="40"
        height="30"
      >
    </p>
    <p>
      <strong>EU-certifiering:</strong> CE-kompatibel<br>
      <img src="https://cdn.shopify.com/s/files/1/0795/7620/3551/files/CE_mark.png?v=1727854127" width="42" height="30">
    </p>
  </div>
</div>

<style>
  #instructions {
    position: relative;
  }
  #instructions > div + div {
    margin-bottom: 6rem;
    display: none;
  }
  #instructions > div.visible-language {
    display: block;
  }
  #instructions h3 {
    font-size: 2rem;
  }
  .language-picker {
    text-align: center;
  }
  .language-picker select {
    display: block;
    margin: 3px auto;
    padding: 4px 0px;
    font-size: 18px;
    border: 2px solid var(--color-foreground);
    cursor: pointer;
  }
  .language-picker select:focus-visible {
    border: 2px solid var(--color-foreground);
    outline: none;
    box-shadow: 0 0 0.25rem 0.1rem var(--color-foreground);
  }
  @media screen and (min-width: 1000px) {
    h1.center {
      text-align: left;
    }
    .language-picker {
      position: absolute;
      top: 0;
      right: 0;
    }
    .diagram {
      margin-left: auto !important;
    }
  }
  @media screen and (max-width: 999px) {
    .diagram {
      margin-right: auto !important;
      margin-left: auto;
      margin-bottom: 2rem;
      display: block;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const languageSelect = document.getElementById('languageSelect');
    const instructions = document.getElementById('instructions');

    languageSelect.addEventListener('change', () => {
      console.log(languageSelect.value);
      var activeLanguages = instructions.getElementsByClassName('visible-language');
      for (var i = 0; i < activeLanguages.length; i++) {
        activeLanguages[i].classList.remove('visible-language');
      }
      var active = document.getElementById(languageSelect.value);
      active.classList.add('visible-language');
    });
  });
</script>

{% schema %}
{
  "name": "Instructions",
  "tag": "section",
  "class": "section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Instructions"
    }
  ]
}
{% endschema %}
