/****** Contact Page ******/
body.page-contact .banner:not(.slideshow):has(.color-background-1):after,
body.page-contact .banner:not(.slideshow):has(.color-background-2):after {
  background: #fff !important;
  opacity: 0.4 !important
}

.contact__button {
  text-align: right;
}

/* .multicolumn .title-wrapper-with-link {
  justify-content: center;
}

.multicolumn .title {
  text-align: center;
}
.multicolumn .title.h2 {
  font-size: calc(var(--font-heading-scale) * 2.8rem);
} */

body.page-contact .multicolumn-list {
  max-width: 700px;
  margin-right: auto !important;
  margin-left: auto !important;
}

body.page-contact .multicolumn-card__image-wrapper,
body.page-contact .multicolumn-card__image-wrapper img {
  width: 60px !important;
  height: 60px !important;
}

body.page-contact .multicolumn .multicolumn-card {
  position: relative;
}
/* .page-contact .multicolumn.color-background-2 .multicolumn-card {
  background: transparent !important;
}

.multicolumn .multicolumn-card h3 {
  text-transform: uppercase;
} */

.multicolumn .multicolumn-card a.link.animate-arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  text-indent: -240%;
  overflow: hidden;
}

/* .contact h2 {
  box-shadow: none;
  justify-content: center;
}
.contact h2.title {
  display: none;
} */

.contact .form-status:has(.icon-success) ~ * {
  display: none;
}

#ContactForm input,
#ContactForm textarea {
  background: var(--color-white-cream);
}

@media screen and (max-width: 749px) {
  .multicolumn .multicolumn-card__info {
    padding: 1rem 0 !important;
  }
  .multicolumn .multicolumn-card p {
    font-size: 1.2rem;
  }
  .contact__button {
    text-align: center;
  }
}
