.banner {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: auto;
  isolation: isolate;
}

.banner__box {
  text-align: center;
}

/* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
.banner__box.gradient {
  transform: perspective(0);
}

@media only screen and (max-width: 749px) {
  .banner--content-align-mobile-right .banner__box {
    text-align: right;
  }

  .banner--content-align-mobile-left .banner__box {
    text-align: left;
  }
}

@media only screen and (min-width: 750px) {
  .banner--content-align-right .banner__box {
    text-align: right;
  }

  .banner--content-align-left .banner__box {
    text-align: left;
  }

  .banner--content-align-left.banner--desktop-transparent .banner__box,
  .banner--content-align-right.banner--desktop-transparent .banner__box,
  .banner--medium.banner--desktop-transparent .banner__box {
    max-width: 68rem;
  }
}

.banner__media.animate--zoom-in {
  clip-path: inset(0px);
}

.banner__media.animate--zoom-in > img:not(.zoom):not(.deferred-media__poster-button),
.banner__media.animate--zoom-in > svg:not(.zoom):not(.deferred-media__poster-button) {
  position: fixed;
  height: 100vh;
}

@media screen and (max-width: 749px) {
  .banner--small.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--small.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 28rem;
  }

  .banner--medium.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--medium.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 34rem;
  }

  .banner--large.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--large.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 39rem;
  }

  .banner--small:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 28rem;
  }

  .banner--medium:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 34rem;
  }

  .banner--large:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 39rem;
  }
}

@media screen and (min-width: 750px) {
  .banner {
    flex-direction: row;
  }

  .banner--small:not(.banner--adapt) {
    min-height: 42rem;
  }

  .banner--medium:not(.banner--adapt) {
    min-height: 56rem;
  }

  .banner--large:not(.banner--adapt) {
    min-height: 72rem;
  }

  .banner__content.banner__content--top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .banner__content.banner__content--top-center {
    align-items: flex-start;
    justify-content: center;
  }

  .banner__content.banner__content--top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .banner__content.banner__content--middle-left {
    align-items: center;
    justify-content: flex-start;
  }

  .banner__content.banner__content--middle-center {
    align-items: center;
    justify-content: center;
  }

  .banner__content.banner__content--middle-right {
    align-items: center;
    justify-content: flex-end;
  }

  .banner__content.banner__content--bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }

  .banner__content.banner__content--bottom-center {
    align-items: flex-end;
    justify-content: center;
  }

  .banner__content.banner__content--bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 749px) {
  .banner:not(.banner--stacked) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .banner--stacked {
    height: auto;
  }

  .banner--stacked .banner__media {
    flex-direction: column;
  }
}

.banner__media {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.banner__media-half {
  width: 50%;
}

.banner__media-half + .banner__media-half {
  right: 0;
  left: auto;
}

.banner__media-half.animate--fixed:first-child > img,
.banner__media-half.animate--zoom-in:first-child > img {
  width: 50%;
}

.banner__media-half.animate--fixed:nth-child(2) > img,
.banner__media-half.animate--zoom-in:nth-child(2) > img {
  left: 50%;
  width: 50%;
}

@media screen and (max-width: 749px) {
  .banner--stacked .animate--fixed:first-child > img,
  .banner--stacked .animate--zoom-in:first-child > img {
    width: 100%;
  }

  .banner--stacked .banner__media-half.animate--fixed:nth-child(2) > img,
  .banner--stacked .banner__media-half.animate--zoom-in:nth-child(2) > img {
    left: 0;
    width: 100%;
  }

  .banner--stacked .banner__media-half {
    width: 100%;
  }

  .banner--stacked .banner__media-half + .banner__media-half {
    order: 1;
  }
}

@media screen and (min-width: 750px) {
  .banner__media {
    height: 100%;
  }
}

.banner--adapt,
.banner--adapt_image.banner--mobile-bottom .banner__media:not(.placeholder) {
  height: auto;
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom .banner__media,
  .banner--stacked:not(.banner--mobile-bottom) .banner__media {
    position: relative;
  }

  .banner--stacked.banner--adapt .banner__content {
    height: auto;
  }

  .banner:not(.banner--mobile-bottom):not(.email-signup-banner) .banner__box {
    background: transparent;
  }

  .banner:not(.banner--mobile-bottom) .banner__box {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .banner:not(.banner--mobile-bottom) .button--secondary {
    --alpha-button-background: 0;
  }

  .banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    position: absolute;
    height: auto;
  }

  .banner--stacked.banner--adapt:not(.banner--mobile-bottom) .banner__content {
    max-height: 100%;
    overflow: hidden;
    position: absolute;
  }

  .banner--stacked:not(.banner--adapt) .banner__media {
    position: relative;
  }

  .banner::before {
    display: none !important;
  }

  .banner--stacked .banner__media-image-half {
    width: 100%;
  }
}

.banner__content {
  padding: 0;
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

@media screen and (min-width: 750px) {
  .banner__content {
    padding: 5rem;
  }

  .banner__content--top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .banner__content--top-center {
    align-items: flex-start;
    justify-content: center;
  }

  .banner__content--top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .banner__content--middle-left {
    align-items: center;
    justify-content: flex-start;
  }

  .banner__content--middle-center {
    align-items: center;
    justify-content: center;
  }

  .banner__content--middle-right {
    align-items: center;
    justify-content: flex-end;
  }

  .banner__content--bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }

  .banner__content--bottom-center {
    align-items: flex-end;
    justify-content: center;
  }

  .banner__content--bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom:not(.banner--stacked) .banner__content {
    order: 2;
  }

  .banner:not(.banner--mobile-bottom) .field__input,
  .banner--mobile-bottom:not(.banner--stacked) .banner__box.color-scheme-1 {
    background: transparent;
  }
}

.banner__box {
  padding: 4rem 1.5rem;
  position: relative;
  height: fit-content;
  align-items: center;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  z-index: 1;
}

.banner--mobile-bottom .banner__box {
  padding: 4rem 3.5rem;
}

@media screen and (min-width: 750px) {
  .banner__box {
    padding: 4rem 3.5rem;
  }

  .banner--desktop-transparent .banner__box {
    padding: 4rem 0;
    background: transparent;
    max-width: 89rem;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .banner--desktop-transparent .button--secondary {
    --alpha-button-background: 0;
  }

  .banner--desktop-transparent .content-container:after {
    display: none;
  }
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom::after,
  .banner--mobile-bottom .banner__media::after {
    display: none;
  }
}

.banner::after,
.banner__media::after {
  content: '';
  position: absolute;
  top: 0;
  background: #000000;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.banner__box > * + .banner__text {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .banner__box > * + .banner__text {
    margin-top: 2rem;
  }
}

.banner__box > * + * {
  margin-top: 1rem;
}

.banner__box > *:first-child {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .banner--stacked .banner__box {
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .banner__box {
    width: auto;
    max-width: 71rem;
    min-width: 45rem;
  }
}

@media screen and (min-width: 1400px) {
  .banner__box {
    max-width: 90rem;
  }
}

.banner__heading {
  margin-bottom: 0;
}

.banner__box .banner__heading + * {
  margin-top: 1rem;
}

.banner__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
  word-break: break-word;
}

@media screen and (max-width: 749px) {
  .banner--content-align-mobile-right .banner__buttons--multiple {
    justify-content: flex-end;
  }

  .banner--content-align-mobile-center .banner__buttons--multiple > * {
    flex-grow: 1;
    min-width: 22rem;
  }
}

@media screen and (min-width: 750px) {
  .banner--content-align-center .banner__buttons--multiple > * {
    flex-grow: 1;
    min-width: 22rem;
  }

  .banner--content-align-right .banner__buttons--multiple {
    justify-content: flex-end;
  }
}

.banner__box > * + .banner__buttons {
  margin-top: 2rem;
}

@media screen and (max-width: 749px) {
  .banner:not(.slideshow) .rte a,
  .banner:not(.slideshow) .inline-richtext a:hover,
  .banner:not(.slideshow) .rte a:hover {
    color: currentColor;
  }
}

@media screen and (min-width: 750px) {
  .banner--desktop-transparent .rte a,
  .banner--desktop-transparent .inline-richtext a:hover,
  .banner--desktop-transparent .rte a:hover {
    color: currentColor;
  }
}


/* Split 50/50 */
.banner.split {
  flex-direction: row-reverse;
  padding-top: 0 !important;
}

.banner.split > * {  
  padding-top: var(--body-padding-desktop);
}

.banner.split .banner__media {
  height: auto;
  position: relative;
}

/* Homepage */
.banner.split .banner__heading {
  color: rgb(var(--color-pothos-green));
  text-transform: uppercase;
  line-height: 1;
}
.banner.split .banner__text {
  position: relative;
  padding-left: 14rem;
  margin: 2rem auto 3rem;
}
.banner.split .banner__text:before {
  content: url("data:image/svg+xml,%3Csvg width='126' height='53' viewBox='0 0 126 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50.4067 16.0088L20.4574 45.9581H19.6527L0.00195312 26.3074V52.5602H26.2548C40.7551 52.5602 52.5076 40.8054 52.5076 26.3074C52.5053 22.652 51.7577 19.1704 50.4067 16.0088Z' fill='white'/%3E%3Cpath d='M20.4554 33.5634L45.5309 8.48786C40.7348 3.30085 33.8744 0.0546875 26.2528 0.0546875H0.0868686H0V26.3075H12.3972L19.653 33.5634H20.4554Z' fill='white'/%3E%3Cpath d='M111.355 15.4536V27.3844L111.531 27.5604H113.636L113.812 27.3844V19.3147H113.988L118.725 27.3844L119.077 27.5604H121.532L121.708 27.3844V15.4536L121.532 15.2776H119.427L119.25 15.4536V23.5233H119.074L114.338 15.4536L113.986 15.2776H111.531L111.355 15.4536ZM109.706 27.3844V21.0681L109.53 20.8921H104.092L103.916 21.0681V22.8215L104.092 22.9975H107.075L107.251 23.1735C107.251 24.5772 106.373 25.6287 104.444 25.6287C102.162 25.6287 100.935 23.8754 100.935 21.4179C100.935 18.9627 102.162 17.207 104.444 17.207C106.373 17.207 106.899 18.0848 107.251 18.7866L107.427 18.9627H109.533L109.709 18.7866C109.359 17.0333 107.955 15.1016 104.446 15.1016C100.761 15.1016 98.4819 17.7328 98.4819 21.4179C98.4819 25.103 100.763 27.7342 104.272 27.7342C106.202 27.7342 107.08 26.8563 107.429 26.5066H107.605L107.781 27.3844L107.957 27.5604H109.537L109.706 27.3844ZM96.9685 27.3844V15.4536L96.7925 15.2776H94.6871L94.511 15.4536V27.3844L94.6871 27.5604H96.7925L96.9685 27.3844ZM92.9337 24.0514C92.9337 21.5962 91.0043 20.5423 88.5468 20.1926C86.0916 19.8428 85.3898 19.4907 85.3898 18.4392C85.3898 17.7374 85.9156 17.2116 87.4952 17.2116C89.4246 17.2116 89.9504 17.7374 89.9504 18.7912L90.1264 18.9672H92.2319L92.4079 18.7912C92.4079 16.6858 91.0043 15.1061 87.6712 15.1061C84.3382 15.1061 82.9346 16.6858 82.9346 18.4392C82.9346 20.8944 84.864 21.7722 87.3215 22.1243C89.7767 22.4763 90.4785 22.8261 90.4785 24.0537C90.4785 25.1052 89.6007 25.6333 88.0233 25.6333C85.9179 25.6333 85.216 24.9315 85.216 23.7039L85.04 23.5279H82.9346L82.7586 23.7039C82.7586 25.9854 84.3382 27.7388 87.8473 27.7388C91.5301 27.7342 92.9337 25.9808 92.9337 24.0514ZM81.6018 27.3844V25.631L81.4258 25.455H75.6353L75.4593 25.279V22.4717L75.6353 22.2957H81.0737L81.2498 22.1197V20.3663L81.0737 20.1903H75.6353L75.4593 20.0142V17.559L75.6353 17.383H81.4258L81.6018 17.207V15.4536L81.4258 15.2776H73.1801L73.004 15.4536V27.3844L73.1801 27.5604H81.4258L81.6018 27.3844ZM69.3213 21.4202C69.3213 24.2274 68.4434 25.455 65.9882 25.455H64.4086L64.2325 25.279V17.559L64.4086 17.383H65.9882C68.4434 17.383 69.3213 18.6129 69.3213 21.4202ZM71.7765 21.4202C71.7765 17.5613 70.1968 15.2799 65.8122 15.2799H61.9534L61.7773 15.4559V27.3867L61.9534 27.5627H65.8122C70.1968 27.5604 71.7765 25.279 71.7765 21.4202Z' fill='white'/%3E%3Cpath d='M107.638 6.3186C107.638 9.12584 106.76 10.3534 104.305 10.3534H102.725L102.549 10.1774V2.45749L102.725 2.28146H104.305C106.76 2.28375 107.638 3.51135 107.638 6.3186ZM110.093 6.3186C110.093 2.45977 108.513 0.17831 104.129 0.17831H100.27L100.094 0.354336V12.2851L100.27 12.4612H104.129C108.515 12.4589 110.093 10.1774 110.093 6.3186ZM98.585 6.3186C98.585 2.63351 96.3035 0.00228652 92.6207 0.00228652C88.9356 0.00228652 86.6565 2.63351 86.6565 6.3186C86.6565 10.0037 88.9379 12.6349 92.6207 12.6349C96.3035 12.6326 98.585 10.0014 98.585 6.3186ZM96.1298 6.3186C96.1298 8.7738 94.9022 10.5295 92.6207 10.5295C90.3393 10.5295 89.1117 8.77608 89.1117 6.3186C89.1117 3.8634 90.3393 2.10772 92.6207 2.10772C94.8999 2.10772 96.1298 3.86111 96.1298 6.3186ZM85.4266 6.3186C85.4266 2.63351 83.1451 0.00228652 79.4623 0.00228652C75.7772 0.00228652 73.4981 2.63351 73.4981 6.3186C73.4981 10.0037 75.7795 12.6349 79.4623 12.6349C83.1451 12.6326 85.4266 10.0014 85.4266 6.3186ZM82.9714 6.3186C82.9714 8.7738 81.7438 10.5295 79.4623 10.5295C77.1808 10.5295 75.9533 8.77608 75.9533 6.3186C75.9533 3.8634 77.1808 2.10772 79.4623 2.10772C81.7438 2.10772 82.9714 3.86111 82.9714 6.3186ZM72.1287 12.2829V5.96655L71.9527 5.79052H66.5142L66.3382 5.96655V7.71993L66.5142 7.89596H69.4975L69.6735 8.07198C69.6735 9.47561 68.7957 10.5272 66.8663 10.5272C64.5848 10.5272 63.3572 8.77379 63.3572 6.31631C63.3572 3.86111 64.5848 2.10544 66.8663 2.10544C68.7957 2.10544 69.3215 2.98327 69.6735 3.68509L69.8495 3.86111H71.955L72.131 3.68509C71.779 1.92941 70.3776 0 66.8686 0C63.1835 0 60.9043 2.63122 60.9043 6.31631C60.9043 10.0014 63.1858 12.6326 66.6948 12.6326C68.6242 12.6326 69.5021 11.7548 69.8518 11.405H70.0279L70.2039 12.2829L70.3799 12.4589H71.9596L72.1287 12.2829Z' fill='white'/%3E%3Cpath d='M117.58 36.1559C117.58 38.9586 116.704 40.1839 114.251 40.1839H112.674L112.498 40.0079V32.3016L112.674 32.1256H114.251C116.704 32.1256 117.58 33.3509 117.58 36.1559ZM120.032 36.1559C120.032 32.3016 118.455 30.0247 114.077 30.0247H110.223L110.047 30.2008V42.1133L110.223 42.2893H114.077C118.455 42.287 120.032 40.0079 120.032 36.1559ZM106.227 33.703C106.227 34.9283 105.525 35.2803 104.476 35.2803H101.148L100.972 35.1043V32.3016L101.148 32.1256H104.476C105.528 32.1256 106.227 32.4754 106.227 33.703ZM108.68 33.703C108.68 31.2501 106.929 30.0247 104.476 30.0247H98.6946L98.5186 30.2008V42.1133L98.6946 42.2893H100.798L100.974 42.1133V37.5595L101.15 37.3835H102.901L103.251 37.5595L106.755 42.1133L107.105 42.2893H108.157L108.333 42.1133V40.3622L106.056 37.3835V37.2075C107.455 36.8554 108.68 35.6301 108.68 33.703ZM93.6151 37.3812L93.439 37.5572H90.4603L90.2843 37.3812L91.8617 33.1772H92.0377L93.6151 37.3812ZM97.2933 42.111V40.3599L93.263 30.1985L93.087 30.0225H90.8101L90.6341 30.1985L86.6038 40.3599V42.111L86.7798 42.287H88.3572L88.5332 42.111L89.4088 39.8341L89.7585 39.6581H94.1386L94.4883 39.8341L95.3639 42.111L95.5399 42.287H97.1173L97.2933 42.111ZM78.1295 30.0225L77.9534 30.1985L75.6766 38.2568H75.5005L73.7494 30.1985L73.5734 30.0225H71.8223L71.6463 30.1985V31.9496L74.2729 42.111L74.449 42.287H76.7258L76.9019 42.111L79.1788 33.703H79.3548L81.6317 42.111L81.8077 42.287H84.0846L84.2606 42.111L86.8873 31.9496V30.1985L86.7112 30.0225H84.9601L84.7841 30.1985L83.033 38.2568H82.857L80.5801 30.1985L80.4041 30.0225H78.1295ZM68.343 37.3812L68.1669 37.5572H65.1905L65.0145 37.3812L66.5919 33.1772H66.7679L68.343 37.3812ZM72.0212 42.111V40.3599L67.9909 30.1985L67.8149 30.0225H65.538L65.362 30.1985L61.334 40.3599V42.111L61.51 42.287H63.0874L63.2634 42.111L64.1389 39.8341L64.4887 39.6581H68.8687L69.2185 39.8341L70.0941 42.111L70.2701 42.287H71.8474L72.0212 42.111Z' fill='white'/%3E%3Cpath d='M123.941 30.3517H122.981L122.912 30.4202V31.2432L122.981 31.3118H123.941C124.284 31.3118 124.421 31.1061 124.421 30.8317C124.421 30.5574 124.284 30.3517 123.941 30.3517ZM124.766 32.4091V32.6834L124.698 32.752H124.629L124.492 32.6834L123.806 31.7233L123.669 31.6547H122.983L122.915 31.7233V32.6834L122.846 32.752H122.572L122.503 32.6834V30.0773L122.572 30.0088H123.943C124.423 30.0088 124.835 30.2831 124.835 30.8317C124.835 31.2432 124.56 31.5175 124.218 31.5861V31.6547L124.766 32.4091ZM123.529 33.5064C124.695 33.5064 125.658 32.5463 125.658 31.3804C125.658 30.2145 124.698 29.2544 123.529 29.2544C122.364 29.2544 121.403 30.2145 121.403 31.3804C121.403 32.5463 122.364 33.5064 123.529 33.5064ZM123.529 28.9092C124.901 28.9092 126.001 30.0065 126.001 31.3781C126.001 32.7497 124.903 33.847 123.529 33.847C122.158 33.847 121.061 32.7497 121.061 31.3781C121.061 30.0088 122.158 28.9092 123.529 28.9092Z' fill='white'/%3E%3Cpath d='M66.8342 44.7031L66.9462 44.8151L68.4047 49.9747H68.5167L69.6392 44.8151L69.7512 44.7031H70.8736L70.9856 44.8151V45.9376L69.3031 52.4436L69.1911 52.5556H67.7326L67.6206 52.4436L66.1621 47.06H66.0501L64.5916 52.4436L64.4796 52.5556H63.0211L62.9091 52.4436L61.2266 45.9376V44.8151L61.3386 44.7031H62.461L62.573 44.8151L63.6955 49.9747H63.8075L65.266 44.8151L65.378 44.7031H66.8342Z' fill='white'/%3E%3Cpath d='M73.5776 52.5556H72.2312L72.1191 52.4436V44.8151L72.2312 44.7031H73.5776L73.6896 44.8151V52.4436L73.5776 52.5556Z' fill='white'/%3E%3Cpath d='M75.4069 44.7031H76.9774L77.2015 44.8151L80.2305 49.9747H80.3425V44.8151L80.4545 44.7031H81.801L81.913 44.8151V52.4436L81.801 52.5556H80.2305L80.0064 52.4436L76.9774 47.2841H76.8654V52.4436L76.7534 52.5556H75.4069L75.2949 52.4436V44.8151L75.4069 44.7031Z' fill='white'/%3E%3Cpath d='M83.6452 44.7031H85.2157L85.4398 44.8151L88.4687 49.9747H88.5808V44.8151L88.6928 44.7031H90.0393L90.1513 44.8151V52.4436L90.0393 52.5556H88.4687L88.2447 52.4436L85.2157 47.2841H85.1037V52.4436L84.9917 52.5556H83.6452L83.5332 52.4436V44.8151L83.6452 44.7031Z' fill='white'/%3E%3Cpath d='M97.159 52.5556H91.8874L91.7754 52.4436V44.8151L91.8874 44.7031H97.159L97.271 44.8151V45.9376L97.159 46.0496H93.4579L93.3459 46.1616V47.7321L93.4579 47.8441H96.935L97.047 47.9562V49.0786L96.935 49.1906H93.4579L93.3459 49.3026V51.0972L93.4579 51.2092H97.159L97.271 51.3212V52.4436L97.159 52.5556Z' fill='white'/%3E%3Cpath d='M103.497 49.3026V49.4146L104.956 51.3212V52.4436L104.843 52.5556H104.171L103.947 52.4436L101.705 49.5267L101.481 49.4146H100.358L100.246 49.5267V52.4436L100.134 52.5556H98.7878L98.6758 52.4436V44.8151L98.7878 44.7031H102.489C104.059 44.7031 105.182 45.4872 105.182 47.06C105.18 48.2922 104.393 49.0786 103.497 49.3026ZM102.487 46.0496H100.356L100.244 46.1616V47.9562L100.356 48.0682H102.487C103.159 48.0682 103.609 47.8441 103.609 47.0577C103.609 46.2736 103.161 46.0496 102.487 46.0496Z' fill='white'/%3E%3C/svg%3E");
  position: absolute;
  top: 1rem;
  left: 0;
}
.banner.split .banner__text p {
  max-width: 30rem;
  margin: 0;
}